interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.waqi.info/feed//geo:0;0/?token=DUMMY_TOKEN
  response:
    body:
      string: ''
    headers:
      Location:
      - /feed/geo:0;0/?token=DUMMY_TOKEN
    status:
      code: 301
      message: Moved Permanently
- request:
    body: null
    headers:
    method: GET
    uri: https://api.waqi.info/feed/geo:0;0/?token=DUMMY_TOKEN
  response:
    body:
      string: '{"status":"ok","data":{"aqi":149,"idx":12826,"attributions":[{"url":"https://gh.usembassy.gov/","name":"Accra
        Air Quality Monitor - US EPA","logo":"US-StateDepartment.png"},{"url":"https://waqi.info/","name":"World
        Air Quality Index Project"}],"city":{"geo":[5.580642,-0.170724],"name":"Accra
        US Embassy, Ghana","url":"https://aqicn.org/city/ghana/accra/us-embassy","location":""},"dominentpol":"pm25","iaqi":{"dew":{"v":23},"h":{"v":83},"p":{"v":1009},"pm25":{"v":149},"t":{"v":26},"w":{"v":1},"wg":{"v":12.8}},"time":{"s":"2022-04-24
        23:00:00","tz":"+00:00","v":1650841200,"iso":"2022-04-24T23:00:00Z"},"forecast":{"daily":{"o3":[{"avg":5,"day":"2022-04-23","max":14,"min":1},{"avg":3,"day":"2022-04-24","max":7,"min":1},{"avg":3,"day":"2022-04-25","max":9,"min":1},{"avg":2,"day":"2022-04-26","max":4,"min":1},{"avg":2,"day":"2022-04-27","max":10,"min":1},{"avg":6,"day":"2022-04-28","max":14,"min":1},{"avg":3,"day":"2022-04-29","max":3,"min":2}],"pm10":[{"avg":25,"day":"2022-04-23","max":53,"min":9},{"avg":25,"day":"2022-04-24","max":43,"min":9},{"avg":29,"day":"2022-04-25","max":49,"min":13},{"avg":20,"day":"2022-04-26","max":35,"min":9},{"avg":21,"day":"2022-04-27","max":32,"min":9},{"avg":28,"day":"2022-04-28","max":48,"min":14},{"avg":32,"day":"2022-04-29","max":32,"min":29}],"pm25":[{"avg":50,"day":"2022-04-23","max":103,"min":17},{"avg":39,"day":"2022-04-24","max":65,"min":17},{"avg":52,"day":"2022-04-25","max":88,"min":23},{"avg":38,"day":"2022-04-26","max":59,"min":13},{"avg":54,"day":"2022-04-27","max":75,"min":11},{"avg":78,"day":"2022-04-28","max":126,"min":44},{"avg":56,"day":"2022-04-29","max":101,"min":27},{"avg":50,"day":"2022-04-30","max":50,"min":43}]}},"debug":{"sync":"2022-04-25T09:12:59+09:00"}}}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Gen-Time:
      - "203.024\xC2\xB5s"
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.waqi.info/feed/geo:50;0/?token=DUMMY_TOKEN
  response:
    body:
      string: '{"status":"ok","data":{"aqi":57,"idx":8620,"attributions":[{"url":"http://www.airnormand.fr/","name":"Air
        Normand and Air C.O.M.","logo":"France-AirNormand.png"},{"url":"https://waqi.info/","name":"World
        Air Quality Index Project"}],"city":{"geo":[49.5142141381999,0.100861111709392],"name":"Ville-haute
        EREA Genevoix, Le Havre, France","url":"https://aqicn.org/city/france/le-havre/ville-haute-erea-genevoix","location":""},"dominentpol":"pm25","iaqi":{"dew":{"v":7},"h":{"v":93},"no2":{"v":3.7},"o3":{"v":31.3},"p":{"v":1011},"pm10":{"v":21},"pm25":{"v":57},"so2":{"v":0.6},"t":{"v":8},"w":{"v":4.6}},"time":{"s":"2022-04-25
        02:00:00","tz":"+02:00","v":1650852000,"iso":"2022-04-25T02:00:00+02:00"},"forecast":{"daily":{"o3":[{"avg":28,"day":"2022-04-24","max":36,"min":20},{"avg":32,"day":"2022-04-25","max":37,"min":28},{"avg":31,"day":"2022-04-26","max":39,"min":22},{"avg":33,"day":"2022-04-27","max":40,"min":28},{"avg":35,"day":"2022-04-28","max":35,"min":31}],"pm10":[{"avg":20,"day":"2022-04-24","max":23,"min":11},{"avg":16,"day":"2022-04-25","max":21,"min":13},{"avg":16,"day":"2022-04-26","max":22,"min":9},{"avg":13,"day":"2022-04-27","max":16,"min":7},{"avg":16,"day":"2022-04-28","max":18,"min":16}],"pm25":[{"avg":62,"day":"2022-04-24","max":72,"min":40},{"avg":40,"day":"2022-04-25","max":53,"min":32},{"avg":46,"day":"2022-04-26","max":66,"min":24},{"avg":40,"day":"2022-04-27","max":54,"min":23},{"avg":37,"day":"2022-04-28","max":51,"min":37}],"uvi":[{"avg":0,"day":"2022-04-24","max":4,"min":0},{"avg":1,"day":"2022-04-25","max":4,"min":0},{"avg":1,"day":"2022-04-26","max":3,"min":0},{"avg":1,"day":"2022-04-27","max":5,"min":0},{"avg":1,"day":"2022-04-28","max":5,"min":0},{"avg":1,"day":"2022-04-29","max":4,"min":0}]}},"debug":{"sync":"2022-04-25T09:24:48+09:00"}}}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Gen-Time:
      - "857.905\xC2\xB5s"
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.waqi.info/feed//geo:40;-75/?token=DUMMY_TOKEN
  response:
    body:
      string: ''
    headers:
      Location:
      - /feed/geo:40;-75/?token=DUMMY_TOKEN
    status:
      code: 301
      message: Moved Permanently
- request:
    body: null
    headers:
    method: GET
    uri: https://api.waqi.info/feed/geo:40;-75/?token=DUMMY_TOKEN
  response:
    body:
      string: '{"status":"ok","data":{"aqi":40,"idx":10168,"attributions":[{"url":"http://www.nj.gov/dep/daq/","name":"NJDEP/DAQ
        - New Jersey Department of Environmental Protection - Division of Air Quality","logo":"US-NJDEC.png"},{"url":"http://www.airnow.gov/","name":"Air
        Now - US EPA"},{"url":"https://waqi.info/","name":"World Air Quality Index
        Project"}],"city":{"geo":[39.934635,-75.126126],"name":"Camden Spruce St,
        NewJersey, USA","url":"https://aqicn.org/city/usa/newjersey/camden-spruce-st","location":""},"dominentpol":"pm25","iaqi":{"co":{"v":2.3},"h":{"v":66.1},"no2":{"v":2.8},"o3":{"v":32.8},"p":{"v":1019.7},"pm25":{"v":40},"so2":{"v":1.5},"t":{"v":14},"w":{"v":2.9},"wg":{"v":10.3}},"time":{"s":"2022-04-24
        19:00:00","tz":"-05:00","v":1650826800,"iso":"2022-04-24T19:00:00-05:00"},"forecast":{"daily":{"o3":[{"avg":6,"day":"2022-04-22","max":8,"min":5},{"avg":12,"day":"2022-04-23","max":25,"min":6},{"avg":16,"day":"2022-04-24","max":26,"min":9},{"avg":16,"day":"2022-04-25","max":21,"min":14},{"avg":12,"day":"2022-04-26","[...]
[...]
