interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.waqi.info/feed//geo:50;0/?token=DUMMY_TOKEN
  response:
    body:
      string: ''
    headers:
      Location:
      - /feed/geo:50;0/?token=DUMMY_TOKEN
    status:
      code: 301
      message: Moved Permanently
- request:
    body: null
    headers:
    method: GET
    uri: https://api.waqi.info/feed/geo:50;0/?token=DUMMY_TOKEN
  response:
    body:
      string: '{"status":"ok","data":{"aqi":42,"idx":8620,"attributions":[{"url":"http://www.airnormand.fr/","name":"Air
        Normand and Air C.O.M.","logo":"France-AirNormand.png"},{"url":"https://waqi.info/","name":"World
        Air Quality Index Project"}],"city":{"geo":[49.5142141381999,0.100861111709392],"name":"Ville-haute
        EREA Genevoix, Le Havre, France","url":"https://aqicn.org/city/france/le-havre/ville-haute-erea-genevoix","location":""},"dominentpol":"pm25","iaqi":{"dew":{"v":7.5},"h":{"v":60},"no2":{"v":4.6},"o3":{"v":35.4},"p":{"v":1019},"pm10":{"v":14},"pm25":{"v":42},"so2":{"v":0.6},"t":{"v":15},"w":{"v":6.1},"wg":{"v":13.8}},"time":{"s":"2022-05-03
        18:00:00","tz":"+02:00","v":1651600800,"iso":"2022-05-03T18:00:00+02:00"},"forecast":{"daily":{"o3":[{"avg":30,"day":"2022-05-03","max":38,"min":22},{"avg":23,"day":"2022-05-04","max":41,"min":8},{"avg":26,"day":"2022-05-05","max":35,"min":19},{"avg":25,"day":"2022-05-06","max":28,"min":22},{"avg":25,"day":"2022-05-07","max":25,"min":21}],"pm10":[{"avg":15,"day":"2022-05-03","max":20,"min":10},{"avg":17,"day":"2022-05-04","max":26,"min":8},{"avg":11,"day":"2022-05-05","max":12,"min":8},{"avg":10,"day":"2022-05-06","max":12,"min":6},{"avg":8,"day":"2022-05-07","max":9,"min":8}],"pm25":[{"avg":50,"day":"2022-05-03","max":63,"min":33},{"avg":54,"day":"2022-05-04","max":79,"min":27},{"avg":32,"day":"2022-05-05","max":38,"min":20},{"avg":28,"day":"2022-05-06","max":40,"min":20},{"avg":22,"day":"2022-05-07","max":25,"min":22}],"uvi":[{"avg":1,"day":"2022-05-03","max":5,"min":0},{"avg":1,"day":"2022-05-04","max":5,"min":0},{"avg":1,"day":"2022-05-05","max":5,"min":0},{"avg":1,"day":"2022-05-06","max":5,"min":0},{"avg":1,"day":"2022-05-07","max":5,"min":0},{"avg":0,"day":"2022-05-08","max":0,"min":0}]}},"debug":{"sync":"2022-05-04T01:02:29+09:00"}}}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Gen-Time:
      - "169.313\xC2\xB5s"
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.waqi.info/feed//geo:lol;bruh/?token=DUMMY_TOKEN
  response:
    body:
      string: ''
    headers:
      Location:
      - /feed/geo:lol;bruh/?token=DUMMY_TOKEN
    status:
      code: 301
      message: Moved Permanently
- request:
    body: null
    headers:
    method: GET
    uri: https://api.waqi.info/feed/geo:lol;bruh/?token=DUMMY_TOKEN
  response:
    body:
      string: '{"status":"error","data":"Invalid geo position - Can not parse ''lol,bruh''"}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Gen-Time:
      - "82.13\xC2\xB5s"
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.waqi.info/feed//geo:50.805778;0.271611/?token=DUMMY_TOKEN
  response:
    body:
      string: ''
    headers:
      Location:
      - /feed/geo:50.805778;0.271611/?token=DUMMY_TOKEN
    status:
      code: 301
      message: Moved Permanently
- request:
    body: null
    headers:
    method: GET
    uri: https://api.waqi.info/feed/geo:50.805778;0.271611/?token=DUMMY_TOKEN
  response:
    body:
      string: '{"status":"ok","data":{"aqi":57,"idx":3175,"attributions":[{"url":"http://uk-air.defra.gov.uk/","name":"UK-AIR,
        air quality information resource - Defra, UK","logo":"UK-Department-for-environment-food-and-rural-affairs.png"},{"url":"https://waqi.info/","name":"World
        Air Quality Index Project"}],"city":{"geo":[50.[...]
