interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.waqi.info/feed//geo:0;0/?token=DUMMY_TOKEN
  response:
    body:
      string: ''
    headers:
      Location:
      - /feed/geo:0;0/?token=DUMMY_TOKEN
    status:
      code: 301
      message: Moved Permanently
- request:
    body: null
    headers:
    method: GET
    uri: https://api.waqi.info/feed/geo:0;0/?token=DUMMY_TOKEN
  response:
    body:
      string: '{"status":"ok","data":{"aqi":38,"idx":12826,"attributions":[{"url":"https://gh.usembassy.gov/","name":"Accra
        Air Quality Monitor - US EPA","logo":"US-StateDepartment.png"},{"url":"https://waqi.info/","name":"World
        Air Quality Index Project"}],"city":{"geo":[5.580642,-0.170724],"name":"Accra
        US Embassy, Ghana","url":"https://aqicn.org/city/ghana/accra/us-embassy","location":""},"dominentpol":"pm25","iaqi":{"dew":{"v":25},"h":{"v":74},"p":{"v":1009},"pm25":{"v":38},"t":{"v":30},"w":{"v":6.1}},"time":{"s":"2022-05-03
        15:00:00","tz":"+00:00","v":1651590000,"iso":"2022-05-03T15:00:00Z"},"forecast":{"daily":{"o3":[{"avg":3,"day":"2022-05-01","max":8,"min":1},{"avg":5,"day":"2022-05-02","max":13,"min":1},{"avg":9,"day":"2022-05-03","max":24,"min":1},{"avg":5,"day":"2022-05-04","max":14,"min":1},{"avg":5,"day":"2022-05-05","max":17,"min":1},{"avg":3,"day":"2022-05-06","max":13,"min":1},{"avg":2,"day":"2022-05-07","max":6,"min":1},{"avg":2,"day":"2022-05-08","max":2,"min":2}],"pm10":[{"avg":18,"day":"2022-05-01","max":35,"min":7},{"avg":28,"day":"2022-05-02","max":58,"min":9},{"avg":31,"day":"2022-05-03","max":56,"min":12},{"avg":23,"day":"2022-05-04","max":51,"min":9},{"avg":26,"day":"2022-05-05","max":50,"min":10},{"avg":30,"day":"2022-05-06","max":52,"min":11},{"avg":30,"day":"2022-05-07","max":56,"min":7},{"avg":13,"day":"2022-05-08","max":14,"min":13}],"pm25":[{"avg":36,"day":"2022-05-01","max":66,"min":11},{"avg":57,"day":"2022-05-02","max":122,"min":14},{"avg":60,"day":"2022-05-03","max":104,"min":23},{"avg":45,"day":"2022-05-04","max":93,"min":19},{"avg":51,"day":"2022-05-05","max":82,"min":19},{"avg":65,"day":"2022-05-06","max":101,"min":27},{"avg":66,"day":"2022-05-07","max":122,"min":16},{"avg":27,"day":"2022-05-08","max":27,"min":27}]}},"debug":{"sync":"2022-05-04T01:17:58+09:00"}}}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Gen-Time:
      - "334.177\xC2\xB5s"
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.waqi.info/feed/geo:50;0/?token=DUMMY_TOKEN
  response:
    body:
      string: '{"status":"ok","data":{"aqi":42,"idx":8620,"attributions":[{"url":"http://www.airnormand.fr/","name":"Air
        Normand and Air C.O.M.","logo":"France-AirNormand.png"},{"url":"https://waqi.info/","name":"World
        Air Quality Index Project"}],"city":{"geo":[49.5142141381999,0.100861111709392],"name":"Ville-haute
        EREA Genevoix, Le Havre, France","url":"https://aqicn.org/city/france/le-havre/ville-haute-erea-genevoix","location":""},"dominentpol":"pm25","iaqi":{"dew":{"v":7.5},"h":{"v":60},"no2":{"v":4.6},"o3":{"v":35.4},"p":{"v":1019},"pm10":{"v":14},"pm25":{"v":42},"so2":{"v":0.6},"t":{"v":15},"w":{"v":6.1},"wg":{"v":13.8}},"time":{"s":"2022-05-03
        18:00:00","tz":"+02:00","v":1651600800,"iso":"2022-05-03T18:00:00+02:00"},"forecast":{"daily":{"o3":[{"avg":30,"day":"2022-05-03","max":38,"min":22},{"avg":23,"day":"2022-05-04","max":41,"min":8},{"avg":26,"day":"2022-05-05","max":35,"min":19},{"avg":25,"day":"2022-05-06","max":28,"min":22},{"avg":25,"day":"2022-05-07","max":25,"min":21}],"pm10":[{"avg":15,"day":"2022-05-03","max":20,"min":10},{"avg":17,"day":"2022-05-04","max":26,"min":8},{"avg":11,"day":"2022-05-05","max":12,"min":8},{"avg":10,"day":"2022-05-06","max":12,"min":6},{"avg":8,"day":"2022-05-07","max":9,"min":8}],"pm25":[{"avg":50,"day":"2022-05-03","max":63,"min":33},{"avg":54,"day":"2022-05-04","max":79,"min":27},{"avg":32,"day":"2022-05-05","max":38,"min":20},{"avg":28,"day":"2022-05-06","max":40,"min":20},{"avg":22,"day":"2022-05-07","max":25,"min":22}],"uvi":[{"avg":1,"day":"2022-05-03","max":5,"min":0},{"avg":1,"day":"2022-05-04","max":5,"min":0},{"avg":1,"day":"2022-05-05","max":5,"min":0},{"avg":1,"day":"2022-05-06","max":5,"min":0},{"avg":1,"day":"2022-05-07","max":5,"min":0},{"avg":0,"day":"2022-05-08","max":0,"min":0}]}},"debug":{"sync":"2022-05-04T01:02:29+09:00"}}}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Gen-Time:
      - "281.695\xC2\xB5s"
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.waqi.info/feed//geo:40;-75/?token=DUMMY_TOKEN
  response:
    body:
      string: ''
    headers:
      Location:
      - /feed/geo:40;-75/?token=DUMMY_TOKEN
    status:
      code: 301
      message: Moved Permanently
- request:
    body: null
    headers:
    method: GET
    uri: https://api.waqi.info/feed/geo:40;-75/?token=DUMMY_TOKEN
  response:
    body:
      string: '{"status":"ok","data":{"aqi":28,"idx":10168,"attributions":[{"url":"http://www.nj.gov/dep/daq/","name":"NJDEP/DAQ
        - New Jersey Department of Environmental Protection - Division of Air Quality","logo":"US-NJDEC.png"},{"url":"http://www.airnow.gov/","name":"Air
        Now - US EPA"},{"url":"https://waqi.info/","name":"World Air Quality Index
        Project"}],"city":{"geo":[39.934635,-75.126126],"name":"Camden Spruce St,
        NewJersey, USA","url":"https://aqicn.org/city/usa/newjersey/camden-spruce-st","location":""},"dominentpol":"o3","iaqi":{"co":{"v":3.4},"h":{"v":61},"no2":{"v":3.8},"o3":{"v":28.1},"p":{"v":1017.5},"pm25":{"v":15},"so2":{"v":1.5},"t":{"v":19.8},"w":{"v":1.8},"wg":{"v":7.6}},"time":{"s":"2022-05-03
        11:00:00","tz":"-05:00","v":1651575600,"iso":"2022-05-03T11:00:00-05:00"},"forecast":{"daily":{"o3":[{"avg":12,"day":"2022-05-01","max":31,"min":1},{"avg":7,"day":"2022-05-02","max":24,"min":1},{"avg":13,"day":"2022-05-03","max":33,"min":2},{"avg":9,"day":"2022-05-04","max":17,"min":6},{"avg":14,"day":"2022-05-05","ma[...]
