interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.waqi.info/map/bounds/?latlng=51%2C-0.2%2C52%2C1&token=DUMMY_TOKEN
  response:
    body:
      string: '{"status":"ok","data":[{"lat":51.486957,"lon":0.095111,"uid":7954,"aqi":"-","station":{"name":"Greenwich
        - Plumstead High Street, United Kingdom","time":"2022-05-04T00:00:00+09:00"}},{"lat":51.57661,"lon":0.030858,"uid":8918,"aqi":"46","station":{"name":"Redbridge
        - Gardner Close, United Kingdom","time":"2022-05-04T00:00:00+09:00"}},{"lat":51.474954,"lon":-0.039641,"uid":7956,"aqi":"66","station":{"name":"Lewisham
        - New Cross, United Kingdom","time":"2022-05-04T00:00:00+09:00"}},{"lat":51.389286904505,"lon":-0.14166152477989,"uid":7959,"aqi":"76","station":{"name":"Sutton
        - Beddington Lane north, United Kingdom","time":"2[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.waqi.info/feed//geo:51.486957;0.095111/?token=DUMMY_TOKEN
  response:
    body:
      string: ''
    headers:
      Location:
      - /feed/geo:51.486957;0.095111/?token=DUMMY_TOKEN
    status:
      code: 301
      message: Moved Permanently
- request:
    body: null
    headers:
    method: GET
    uri: https://api.waqi.info/feed/geo:51.486957;0.095111/?token=DUMMY_TOKEN
  response:
    body:
      string: '{"status":"ok","data":{"aqi":62,"idx":7953,"attributions":[{"url":"http://uk-air.defra.gov.uk/","name":"UK-AIR,
        air quality information resource - Defra, UK","logo":"UK-Department-for-environment-food-and-rural-affairs.png"},{"url":"https://londonair.org.uk/","name":"London
        Air Quality Network - Environmental Research Group, King''s College London","logo":"UK-London-Kings-College.png"},{"url":"https://waqi.info/","name":"World
        Air Quality Index Project"}],"city":{"geo":[51.490532,0.074003],"name":"Greenwich
        - A206 Burrage Grove, United Kingdom","url":"https://aqicn.org/city/united-kingdom/greenwich-a206-burrage-grove","location":""},"dominentpol":"pm25","iaqi":{"dew":{"v":9},"h":{"v":73.5},"no2":{"v":15.6},"p":{"v":1021},"pm10":{"v":20},"pm25":{"v":62},"t":{"v":13.5},"w":{"v":2.3},"wg":{"v":8.2}},"time":{"s":"2022-05-03
        16:00:00","tz":"+01:00","v":1651593600,"iso":"2022-05-03T16:00:00+01:00"},"forecast":{"daily":{"o3":[{"avg":25,"day":"2022-05-01","max":34,"min":18},{"avg":26,"day":"2022-05-02","max":40,"min":8},{"avg":21,"day":"2022-05-03","max":32,"min":4},{"avg":23,"day":"2022-05-04","max":34,"min":17},{"avg":24,"day":"2022-05-05","max":36,"min":16},{"avg":18,"day":"2022-05-06","max":30,"min":11},{"avg":16,"day":"2022-05-07","max":19,"min":16}],"pm10":[{"avg":16,"day":"2022-05-01","max":21,"min":10},{"avg":18,"day":"2022-05-02","max":26,"min":12},{"avg":21,"day":"2022-05-03","max":30,"min":11},{"avg":14,"day":"2022-05-04","max":20,"min":7},{"avg":13,"day":"2022-05-05","max":17,"min":9},{"avg":11,"day":"2022-05-06","max":17,"min":7},{"avg":11,"day":"2022-05-07","max":11,"min":11}],"pm25":[{"avg":54,"day":"2022-05-01","max":62,"min":36},{"avg":56,"day":"2022-05-02","max":76,"min":38},{"avg":63,"day":"2022-05-03","max":84,"min":43},{"avg":46,"day":"2022-05-04","max":67,"min":23},{"avg":40,"day":"2022-05-05","max":57,"min":25},{"avg":36,"day":"2022-05-06","max":54,"min":20},{"avg":38,"day":"2022-05-07","max":38,"min":31}],"uvi":[{"avg":0,"day":"2022-05-01","max":2,"min":0},{"avg":1,"day":"2022-05-02","max":3,"min":0},{"avg":0,"day":"2022-05-03","max":2,"min":0},{"avg":1,"day":"2022-05-04","max":2,"min":0},{"avg":1,"day":"2022-05-05","max":4,"min":0},{"avg":1,"day":"2022-05-06","max":3,"min":0},{"avg":1,"day":"2022-05-07","max":3,"min":0},{"avg":0,"day":"2022-05-08","max":0,"min":0}]}},"debug":{"sync":"2022-05-04T01:22:41+09:00"}}}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Gen-Time:
      - "274.295\xC2\xB5s"
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.waqi.info/feed//geo:51.474954;-0.039641/?token=DUMMY_TOKEN
  response:
    body:
      string: ''
    headers:
      Location:
      - /feed/geo:51.474954;-0.039641/?token=DUMMY_TOKEN
    status:
      code: 301
      message: Moved Permanently
- request:
    body: null
    headers:
    method: GET
    uri: https://api.waqi.info/feed/geo:51.474954;-0.039641/?token=DUMMY_TOKEN
  response:
    body:
      string: '{"status":"ok","data":{"aqi":66,"idx":7956,"attributions":[{"url":"http://uk-air.defra.gov.uk/","name":"UK-AIR,
        air quality information resource - Defra, UK","logo":"UK-Department-for-environment-food-and-rural-affairs.png"},{"url":"https://londonair.org.uk/","name":"London
        Air Quality Network - Environmental Re[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.waqi.info/feed/geo:51.46603;0.184806/?token=DUMMY_TOKEN
  response:
    body:
      string: '{"status":"ok","data":{"aqi":63,"idx":3188,"attributions":[{"url":"http://uk-air.defra.gov.uk/","name":"UK-AIR,
        air quality information resource - Defra, UK","logo":"UK-Department-for-environment-food-and-rural-affairs.png"},{"url":"https://londonair.org.uk/","name":"London
        Air Quality Network - Environmental Research Group, King''s College London","logo":"UK-London-Kings-College.png"},{"url":"http://www.kentair.org.uk/","name":"Air
        Quality in Kent and Medway"},{"url":"https://waqi.info/","name":"World Air
        Quality Index Project"}],"city":{"geo":[51.46603,0.184806],"name":"London
        Bexley, United Kingdom","url":"https://aqicn.org/city/united-kingdom/london-bexley","location":""},"dominentpol":"pm25","iaqi":{"co":{"v":7.3},"h":{"v":78.8},"no2":{"v":7.4},"o3":{"v":5},"p":{"v":1018.2},"pm10":{"v":22},"pm25":{"v":63},"so2":{"v":0.3},"t":{"v":13.8},"w":{"v":0.4},"wg":{"v":0.1}},"time":{"s":"2022-05-03
        16:00:00","tz":"+01:00","v":1651593600,"iso":"2022-05-03T16:00:00+01:00"},"forecast":{"daily":{"o3":[{"avg":25,"day":"2022-05-01","max":34,"min":18},{"avg":26,"day":"2022-05-02","max":40,"min":8},{"avg":21,"day":"2022-05-03","max":32,"min":4},{"avg":23,"day":"2022-05-04","max":34,"min":17},{"avg":24,"day":"2022-05-05","max":36,"min":16},{"avg":18,"day":"2022-05-06","max":30,"min":11},{"avg":16,"day":"2022-05-0[...]
[...]
