interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.waqi.info/map/bounds/?latlng=51%2C-0.2%2C52%2C1&token=DUMMY_TOKEN
  response:
    body:
      string: '{"status":"ok","data":[{"lat":51.518167,"lon":0.439548,"uid":3213,"aqi":"46","station":{"name":"Stanford-le-Hope
        Roadside, United Kingdom","time":"2022-04-22T08:00:00+09:00"}},{"lat":51.486957,"lon":0.095111,"uid":7954,"aqi":"27","station":{"name":"Greenwich
        - Plumstead High Street, United Kingdom","time":"2022-04-22T09:00:00+09:00"}},{"lat":51.486884,"lon":0.017901,"uid":7955,"aqi":"34","station":{"name":"Greenwich
        - Woolwich Flyover, United Kingdom","time":"2022-04-22T08:00:00+09:00"}},{"lat":51.493774669582,"lon":0.010779623703256,"uid":10876,"aqi":"17","station":{"name":"Greenwich
        - John Harrison Way, United Ki[...]
