interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.waqi.info/map/bounds/?latlng=51%2C-0.2%2C52%2C1&token=DUMMY_TOKEN
  response:
    body:
      string: '{"status":"ok","data":[{"lat":51.518167,"lon":0.439548,"uid":3213,"aqi":"30","station":{"name":"Stanford-le-Hope
        Roadside, United Kingdom","time":"2022-05-23T14:00:00+09:00"}},{"lat":51.49467,"lon":-0.131931,"uid":10874,"aqi":"14","station":{"name":"London
        Westminster, United Kingdom","time":"2022-05-23T14:00:00+09:00"}},{"lat":51.515046167401,"lon":-0.0084184926564274,"uid":7948,"aqi":"9","station":{"name":"Tower
        Hamlets - Blackwall, United Kingdom","time":"2022-05-23T14:00:00+09:00"}},{"lat":51.544206,"lon":0.678408,"uid":3212,"aqi":"31","station":{"name":"Southend-on-Sea,
        United Kingdom","time":"2022-05-23T14:00[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.waqi.info/feed//geo:51.518167;0.439548/?token=DUMMY_TOKEN
  response:
    body:
      string: ''
    headers:
      Location:
      - /feed/geo:51.518167;0.439548/?token=DUMMY_TOKEN
    status:
      code: 301
      message: Moved Permanently
- request:
    body: null
    headers:
    method: GET
    uri: https://api.waqi.info/feed/geo:51.518167;0.439548/?token=DUMMY_TOKEN
  response:
    body:
      string: '{"status":"ok","data":{"aqi":30,"idx":3213,"attributions":[{"url":"http://uk-air.defra.gov.uk/","name":"UK-AIR,
        air quality information resource - Defra, UK","logo":"UK-Department-for-environment-food-and-rural-affairs.png"},{"url":"https://londonair.org.uk/","name":"London
        Air Quality Network - Environmental Research Group, King''s College London","logo":"UK-London-Kings-College.png"},{"url":"http://www.kentair.org.uk/","name":"Air
        Quality in Kent and Medway"},{"url":"https://waqi.info/","name":"World Air
        Quality Index Project"}],"city":{"geo":[51.518167,0.439548],"name":"Stanford-le-Hope
        Roadside, United Kingdom","url":"https://aqicn.org/city/united-kingdom/stanford-le-hope-roadside","location":""},"dominentpol":"pm25","iaqi":{"h":{"v":86},"no2":{"v":15.6},"o3":{"v":5},"p":{"v":1003.2},"pm10":{"v":15},"pm25":{"v":30},"so2":{"v":0.3},"t":{"v":12.9},"w":{"v":3.5},"wg":{"v":5}},"time":{"s":"2022-05-23
        06:00:00","tz":"+01:00","v":1653285600,"iso":"2022-05-23T06:00:00+01:00"},"forecast":{"daily":{"o3":[{"avg":24,"day":"2022-05-22","max":37,"min":3},{"avg":18,"day":"2022-05-23","max":27,"min":4},{"avg":24,"day":"2022-05-24","max":31,"min":18},{"avg":22,"day":"2022-05-25","max":32,"min":12},{"avg":20,"day":"2022-05-26","max":20,"min":16}],"pm10":[{"avg":14,"day":"2022-05-22","max":23,"min":9},{"avg":14,"day":"2022-05-23","max":22,"min":7},{"avg":6,"day":"2022-05-24","max":8,"min":4},{"avg":9,"day":"2022-05-25","max":13,"min":6},{"avg":13,"day":"2022-05-26","max":16,"min":13}],"pm25":[{"avg":38,"day":"2022-05-22","max":64,"min":25},{"avg":43,"day":"2022-05-23","max":67,"min":21},{"avg":19,"day":"2022-05-24","max":30,"min":13},{"avg":25,"day":"2022-05-25","max":38,"min":15},{"avg":38,"day":"2022-05-26","max":44,"min":38}],"uvi":[{"avg":0,"day":"2022-05-22","max":5,"min":0},{"avg":0,"day":"2022-05-23","max":2,"min":0},{"avg":1,"day":"2022-05-24","max":3,"min":0},{"avg":1,"day":"2022-05-25","max":3,"min":0},{"avg":1,"day":"2022-05-26","max":6,"min":0},{"avg":1,"day":"2022-05-27","max":6,"min":0}]}},"debug":{"sync":"2022-05-23T16:00:15+09:00"}}}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Gen-Time:
      - "459.457\xC2\xB5s"
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.waqi.info/feed//geo:51.49467;-0.131931/?token=DUMMY_TOKEN
  response:
    body:
      string: ''
    headers:
      Location:
      - /feed/geo:51.49467;-0.131931/?token=DUMMY_TOKEN
    status:
      code: 301
      message: Moved Permanently
- request:
    body: null
    headers:
    method: GET
    uri: https://api.waqi.info/feed/geo:51.49467;-0.131931/?token=DUMMY_TOKEN
  response:
    body:
      string: '{"status":"ok","data":{"aqi":14,"idx":10874,"attributions":[{"url":"http://uk-air.defra.gov.uk/","name":"UK-AIR,
        air quality information resource - Defra, UK","logo":"UK-Department-for-environment-food-and-rural-affairs.png"},{"url":"https://waqi.info/","name":"World
        Air Quality Index Project"}],"city":{"geo":[51.49467,-0.131931],"name":"London
        Westminster, United Kingdom","url":"https://aqicn.org/city/united-kingdom/london-westminster","location":""},"dominentpol":"o3","iaqi":{"co":{"v":1.9},"h":{"v":79},"no2":{"v":11},"o3":{"v":13.9},"p":{"v":1005},"pm10":{"v":20},"pm25":{"v":13},"so2":{"v":3.1},"t":{"v":13.3},"w":{"v":0.1},"wg":{"v":3}},"time":{"s":"2022-05-23
        06:00:00","tz":"+01:00","v":1653285600,"iso":"2022-05-23T06:00:00+01:00"},"forecast":{"daily":{"o3":[{"avg":23,"day":"2022-05-21","max":36,"min":15},{"avg":22,"day":"2022-05-22","max":39,"min":2},{"avg":19,"day":"2022-05-23","max":31,"min":2},{"avg":23,"day":"2022-05-24","max":32,"min":14},{"avg":21,"day":"2022-05-25","max":32,"min":12},{"avg":17,"day":"2022-05-26","max":17,"min":15}],"pm10":[{"avg":13,"day":"2022-05-21","max":17,"min":10},{"avg":15,"day":"2022-05-22","max":23,"min":7},{"avg":14,"day":"2022-05-23","max":21,"min":6},{"avg":6,"day":"2022-05-24","max":9,"min":4},{"avg":10,"day":"2022-05-25","max":13,"min":7},{"avg":14,"day":"2022-05-26","max":15,"min":14}],"pm25":[{"avg":32,"day":"2022-05-21","max":38,"min":23},{"avg":40,"day":"2022-05-22","max":63,"min":22},{"avg":42,"day":"2022-05-23","max":66,"min":18},{"avg":20,"day":"2022-05-24","max":28,"min":12},{"avg":25,"day":"2022-05-25","max":35,"min":17},{"avg":44,"day":"2022-05-26","max":44,"min":39}]}},"debug":{"sync":"2022-05-23T15:41:44+09:00"}}}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Gen-Time:
      - "214.503\xC2\xB5s"
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.waqi.info/feed/geo:51.493774669582;0.010779623703256/?token=DUMMY_TOKEN
  response:
    body:
      string: '{"status":"ok","data":{"aqi":36,"idx":10876,"attributions":[{"url":"http://uk-air.defra.gov.uk/","name":"UK-AIR,
        air quality information resource - Defra, UK","logo":"UK-Department-for-environment-food-and-rural-affairs.png"},{"url":"https://londonair.org.uk/","name":"London
        Air Quality Network - Environmental Research Group, King''s College London","logo":"UK-London-Kings-College.png"},{"url":"https://waqi.info/","name":"World
        Air Quality Index Project"}],"city":{"geo":[51.4937746695818,0.0107796237032558],"name":"Greenwich
        - John Harrison Way, United Kingdom","url":"https://aqicn.org/city/united-kingdom/greenwich-john-harrison-way","location":""},"dominentpol":"pm25","iaqi":{"dew":{"v":9},"h":{"v":67},"no2":{"v":18.7},"p":{"v":1004},"pm10":{"v":21},"pm25":{"v":36},"t":{"v":15},"w":{"v":3},"wg":{"v":10.2}},"time":{"s":"2022-05-23
        06:00:00","tz":"+01:00","v":1653285600,"iso":"2022-05-23T06:00:00+01:00"},"forecast":{"daily":{"o3":[{"avg":24,"day":"2022-05-22","max":39,"min":2},{"avg":19,"day":"2022-05-23","max":31,"min":3},{"avg":23,"day":"2022-05-24","max":32,"min":14},{"avg":21,"day":"2022-05-25","max":32,"min":11},{"avg":17,"day":"2022-05-26","max":17,"min":14}],"pm10":[{"avg":14,"day":"2022-05-22","max":23,"min":8},{"avg":15,"day":"2022-05-23","max":22,"min":6},{"avg":6,"day":"2022-05-24","max":9,"min":4},{"avg":10,"day":"2022-05-25","max":13,"min":7},{"avg":14,"day":"2022-05-26","max":16,"min":14}],"pm25":[{"avg":39,"day":"2022-05-22","max":64,"min":23},{"avg":43,"day":"2022-05-23","max":68,"min":19},{"avg":21,"day":"2022-05-24","max":30,"min":13},{"avg":25,"day":"2022-05-25","max":35,"min":17},{"avg":43,"day":"2022-05-26","max":47,"min":43}],"uvi":[{"avg":0,"day":"2022-05-22","max":5,"min":0},{"avg":0,"day":"2022-05-23","max":2,"min":0},{"avg":1,"day":"2022-05-24","max":3,"min":0},{"avg":1,"day":"2022-05-25","max":2,"min":0},{"avg":1,"day":"2022-05-26","max":5,"min":0},{"avg":1,"day":"2022-05-27","max":7,"min":0}]}},"debug":{"sync":"2022-05-23T15:46:46+09:00"}}}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Gen-Time:
      - "201.224\xC2\xB5s"
    status:
      code: 200
      message: OK
[...]
