interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.waqi.info/map/bounds/?latlng=51%2C-0.2%2C52%2C1&token=DUMMY_TOKEN
  response:
    body:
      string: '{"status":"ok","data":[{"lat":51.490532,"lon":0.074003,"uid":7953,"aqi":"54","station":{"name":"Greenwich
        - A206 Burrage Grove, United Kingdom","time":"2022-04-23T01:00:00+09:00"}},{"lat":51.57661,"lon":0.030858,"uid":8918,"aqi":"40","station":{"name":"Redbridge
        - Gardner Close, United Kingdom","time":"2022-04-23T00:00:00+09:00"}},{"lat":51.52229,"lon":-0.125889,"uid":3189,"aqi":"57","station":{"name":"London
        Bloomsbury, United Kingdom","time":"2022-04-23T00:00:00+09:00"}},{"lat":51.374264,"lon":0.54797,"uid":3169,"aqi":"59","station":{"name":"Chatham
        Roadside, United Kingdom","time":"2022-04-23T00:00:00+09:00"}},{"lat"[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.waqi.info/feed//geo:51.490532;0.074003/?token=DUMMY_TOKEN
  response:
    body:
      string: ''
    headers:
      Location:
      - /feed/geo:51.490532;0.074003/?token=DUMMY_TOKEN
    status:
      code: 301
      message: Moved Permanently
- request:
    body: null
    headers:
    method: GET
    uri: https://api.waqi.info/feed/geo:51.490532;0.074003/?token=DUMMY_TOKEN
  response:
    body:
      string: '{"status":"ok","data":{"aqi":54,"idx":7953,"attributions":[{"url":"http://uk-air.defra.gov.uk/","name":"UK-AIR,
        air quality information resource - Defra, UK","logo":"UK-Department-for-environment-food-and-rural-affairs.png"},{"url":"https://londonair.org.uk/","name":"London
        Air Quality Network - Environmental Research Group, King''s College London","logo":"UK-London-Kings-College.png"},{"url":"https://waqi.info/","name":"World
        Air Quality Index Project"}],"city":{"geo":[51.490532,0.074003],"name":"Greenwich
        - A206 Burrage Grove, United Kingdom","url":"https://aqicn.org/city/united-kingdom/greenwich-a206-burrage-grove","location":""},"dominentpol":"pm25","iaqi":{"dew":{"v":6},"h":{"v":58},"no2":{"v":15.2},"p":{"v":1006},"pm10":{"v":18},"pm25":{"v":54},"t":{"v":14},"w":{"v":7.9},"wg":{"v":14.4}},"time":{"s":"2022-04-22
        17:00:00","tz":"+01:00","v":1650646800,"iso":"2022-04-22T17:00:00+01:00"},"forecast":{"daily":{"o3":[{"avg":27,"day":"2022-04-20","max":38,"min":16},{"avg":27,"day":"2022-04-21","max":37,"min":16},{"avg":28,"day":"2022-04-22","max":38,"min":18},{"avg":30,"day":"2022-04-23","max":42,"min":22},{"avg":33,"day":"2022-04-24","max":40,"min":28},{"avg":29,"day":"2022-04-25","max":36,"min":24},{"avg":26,"day":"2022-04-26","max":26,"min":26}],"pm10":[{"avg":19,"day":"2022-04-20","max":37,"min":10},{"avg":19,"day":"2022-04-21","max":27,"min":12},{"avg":17,"day":"2022-04-22","max":20,"min":11},{"avg":19,"day":"2022-04-23","max":25,"min":18},{"avg":14,"day":"2022-04-24","max":18,"min":10},{"avg":9,"day":"2022-04-25","max":13,"min":6},{"avg":10,"day":"2022-04-26","max":10,"min":9}],"pm25":[{"avg":58,"day":"2022-04-20","max":95,"min":34},{"avg":58,"day":"2022-04-21","max":75,"min":43},{"avg":51,"day":"2022-04-22","max":60,"min":37},{"avg":58,"day":"2022-04-23","max":69,"min":53},{"avg":43,"day":"2022-04-24","max":57,"min":27},{"avg":26,"day":"2022-04-25","max":39,"min":16},{"avg":26,"day":"2022-04-26","max":28,"min":25}],"uvi":[{"avg":1,"day":"2022-04-20","max":4,"min":0},{"avg":1,"day":"2022-04-21","max":4,"min":0},{"avg":1,"day":"2022-04-22","max":3,"min":0},{"avg":1,"day":"2022-04-23","max":3,"min":0},{"avg":1,"day":"2022-04-24","max":4,"min":0},{"avg":1,"day":"2022-04-25","max":3,"min":0},{"avg":0,"day":"2022-04-26","max":1,"min":0},{"avg":0,"day":"2022-04-27","max":0,"min":0}]}},"debug":{"sync":"2022-04-23T02:15:19+09:00"}}}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Gen-Time:
      - "300.116\xC2\xB5s"
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.waqi.info/feed//geo:51.52229;-0.125889/?token=DUMMY_TOKEN
  response:
    body:
      string: ''
    headers:
      Location:
      - /feed/geo:51.52229;-0.125889/?token=DUMMY_TOKEN
    status:
      code: 301
      message: Moved Permanently
- request:
    body: null
    headers:
    method: GET
    uri: https://api.waqi.info/feed/geo:51.52229;-0.125889/?token=DUMMY_TOKEN
  response:
    body:
      string: '{"status":"ok","data":{"aqi":57,"idx":3189,"attributions":[{"url":"http://uk-air.defra.gov.uk/","name":"UK-AIR,
        air quality information resource - Defra, UK","logo":"UK-Department-for-environment-food-and-rural-affairs.png"},{"url":"https://londonair.org.uk/","name":"London
        Air Quality Network - Environmental Research Group, King''s College London","logo":"UK-London-Kings-College.png"},{"url":"https://waqi.info/","name":"World
        Air Quality Index Project"}],"city":{"geo":[51.52229,-0.125889],"name":"London
        Bloomsbury, United Kingdom","url":"https://aqicn.org/city/united-kingdom/london-bloomsbury","location":""},"dominentpol":"pm25","iaqi":{"co":{"v":1.9},"h":{"v":70},"no2":{"v":14.3},"o3":{"v":29.9},"p":{"v":1007},"pm10":{"v":29},"pm25":{"v":57},"so2":{"v":1.1},"t":{"v":12.7},"w":{"v":8.2},"wg":{"v":17.5}},"time":{"s":"2022-04-22
        16:00:00","tz":"+01:00","v":1650643200,"iso":"2022-04-22T16:00:00+01:00"},"forecast":{"daily":{"o3":[{"avg":25,"day":"2022-04-20","max":39,"min":14},{"avg":25,"day":"2022-04-21","max":37,"min":13},{"avg":26,"day":"2022-04-22","max":36,"min":18},{"avg":29,"day":"2022-04-23","max":41,"min":21},{"avg":31,"day":"2022-04-24","max":39,"min":26},{"avg":27,"day":"2022-04-25","max":37,"min":21},{"avg":23,"day":"2022-04-26","max":23,"min":22}],"pm10":[{"avg":19,"day":"2022-04-20","max":36,"min":10},{"avg":20,"day":"2022-04-21","max":29,"min":11},{"avg":17,"day":"2022-04-22","max":21,"min":10},{"avg":19,"day":"2022-04-23","max":24,"min":17},{"avg":14,"day":"2022-04-24","max":18,"min":10},{"avg":11,"day":"2022-04-25","max":14,"min":7},{"avg":12,"day":"2022-04-26","max":12,"min":11}],"pm25":[{"avg":59,"day":"2022-04-20","max":94,"min":33},{"avg":59,"day":"2022-04-21","max":78,"min":40},{"avg":50,"day":"2022-04-22","max":62,"min":35},{"avg":59,"day":"2022-04-23","max":67,"min":53},{"avg":44,"day":"2022-04-24","max":56,"min":29},{"avg":28,"day":"2022-04-25","max":40,"min":19},{"avg":31,"day":"2022-04-26","max":31,"min":29}]}},"debug":{"sync":"2022-04-23T01:41:12+09:00"}}}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Gen-Time:
      - "203.824\xC2\xB5s"
    status:
      code: 200
      message: OK
[...]
