interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.waqi.info/map/bounds/?latlng=51%2C-0.2%2C52%2C1&token=DUMMY_TOKEN
  response:
    body:
      string: '{"status":"ok","data":[{"lat":51.486884,"lon":0.017901,"uid":7955,"aqi":"38","station":{"name":"Greenwich
        - Woolwich Flyover, United Kingdom","time":"2022-04-25T07:00:00+09:00"}},{"lat":51.527706619465,"lon":-0.12905320528252,"uid":7945,"aqi":"57","station":{"name":"Camden
        - Euston Road, United Kingdom","time":"2022-04-25T06:00:00+09:00"}},{"lat":51.374264,"lon":0.54797,"uid":3169,"aqi":"46","station":{"name":"Chatham
        Roadside, United Kingdom","time":"2022-04-25T08:00:00+09:00"}},{"lat":51.494648681305,"lon":0.13727911123218,"uid":7951,"aqi":"32","station":{"name":"Bexley
        - Belvedere West, United Kingdom","time":"2022[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.waqi.info/feed//geo:51.486884;0.017901/?token=DUMMY_TOKEN
  response:
    body:
      string: ''
    headers:
      Location:
      - /feed/geo:51.486884;0.017901/?token=DUMMY_TOKEN
    status:
      code: 301
      message: Moved Permanently
- request:
    body: null
    headers:
    method: GET
    uri: https://api.waqi.info/feed/geo:51.486884;0.017901/?token=DUMMY_TOKEN
  response:
    body:
      string: '{"status":"ok","data":{"aqi":38,"idx":7955,"attributions":[{"url":"http://uk-air.defra.gov.uk/","name":"UK-AIR,
        air quality information resource - Defra, UK","logo":"UK-Department-for-environment-food-and-rural-affairs.png"},{"url":"https://londonair.org.uk/","name":"London
        Air Quality Network - Environmental Research Group, King''s College London","logo":"UK-London-Kings-College.png"},{"url":"https://waqi.info/","name":"World
        Air Quality Index Project"}],"city":{"geo":[51.486884,0.017901],"name":"Greenwich
        - Woolwich Flyover, United Kingdom","url":"https://aqicn.org/city/united-kingdom/greenwich-woolwich-flyover","location":""},"dominentpol":"pm25","iaqi":{"dew":{"v":4},"h":{"v":72.5},"no2":{"v":4.5},"o3":{"v":27.2},"p":{"v":1014},"pm10":{"v":7},"pm25":{"v":38},"t":{"v":8.5},"w":{"v":1.8},"wg":{"v":8.7}},"time":{"s":"2022-04-24
        23:00:00","tz":"+01:00","v":1650841200,"iso":"2022-04-24T23:00:00+01:00"},"forecast":{"daily":{"o3":[{"avg":32,"day":"2022-04-24","max":40,"min":26},{"avg":28,"day":"2022-04-25","max":36,"min":25},{"avg":30,"day":"2022-04-26","max":41,"min":22},{"avg":30,"day":"2022-04-27","max":37,"min":20},{"avg":28,"day":"2022-04-28","max":28,"min":28}],"pm10":[{"avg":14,"day":"2022-04-24","max":18,"min":9},{"avg":11,"day":"2022-04-25","max":17,"min":9},{"avg":9,"day":"2022-04-26","max":12,"min":6},{"avg":12,"day":"2022-04-27","max":14,"min":9},{"avg":13,"day":"2022-04-28","max":13,"min":13}],"pm25":[{"avg":43,"day":"2022-04-24","max":57,"min":27},{"avg":34,"day":"2022-04-25","max":49,"min":28},{"avg":26,"day":"2022-04-26","max":36,"min":18},{"avg":29,"day":"2022-04-27","max":39,"min":24},{"avg":30,"day":"2022-04-28","max":30,"min":29}],"uvi":[{"avg":0,"day":"2022-04-24","max":3,"min":0},{"avg":1,"day":"2022-04-25","max":3,"min":0},{"avg":1,"day":"2022-04-26","max":4,"min":0},{"avg":0,"day":"2022-04-27","max":2,"min":0},{"avg":1,"day":"2022-04-28","max":3,"min":0},{"avg":1,"day":"2022-04-29","max":2,"min":0}]}},"debug":{"sync":"2022-04-25T09:11:50+09:00"}}}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Gen-Time:
      - "140.022\xC2\xB5s"
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.waqi.info/feed//geo:51.527706619465;-0.12905320528252/?token=DUMMY_TOKEN
  response:
    body:
      string: ''
    headers:
      Location:
      - /feed/geo:51.527706619465;-0.12905320528252/?token=DUMMY_TOKEN
    status:
      code: 301
      message: Moved Permanently
- request:
    body: null
    headers:
    method: GET
    uri: https://api.waqi.info/feed/geo:51.527706619465;-0.12905320528252/?token=DUMMY_TOKEN
  response:
    body:
      string: '{"status":"ok","data":{"aqi":57,"idx":7945,"attributions":[{"url":"http://uk-air.defra.gov.uk/","name":"UK-AIR,
        air quality information resource - Defra, UK","logo":"UK-Department-for-environment-food-and-rural-affairs.png"},{"url":"https://londonair.org.uk/","name":"London
        Air Quality Network - En[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.waqi.info/feed/geo:51.374264;0.54797/?token=DUMMY_TOKEN
  response:
    body:
      string: '{"status":"ok","data":{"aqi":46,"idx":3169,"attributions":[{"url":"http://uk-air.defra.gov.uk/","name":"UK-AIR,
        air quality information resource - Defra, UK","logo":"UK-Department-for-environment-food-and-rural-affairs.png"},{"url":"http://www.kentair.org.uk/","name":"Air
        Quality in Kent and Medway"},{"url":"https://waqi.info/","name":"World Air
        Quality Index Project"}],"city":{"geo":[51.374264,0.54797],"name":"Chatham
        Roadside, United Kingdom","url":"https://aqicn.org/city/united-kingdom/chatham-roadside","location":""},"dominentpol":"pm25","iaqi":{"h":{"v":86},"no2":{"v":1.5},"o3":{"v":32.4},"p":{"v":1010.9},"pm10":{"v":27},"pm25":{"v":46},"so2":{"v":1.1},"t":{"v":7.7},"w":{"v":0.6},"wg":{"v":12.2}},"time":{"s":"2022-04-25
        00:00:00","tz":"+01:00","v":1650844800,"iso":"2022-04-25T00:00:00+01:00"},"forecast":{"daily":{"o3":[{"avg":30,"day":"2022-04-23","max":40,"min":21},{"avg":33,"day":"2022-04-24","max":40,"min":28},{"avg":31,"day":"2022-04-25","max":38,"min":25},{"avg":33,"day":"2022-04-26","max":40,"min":25},{"avg":33,"day":"2022-04-27","max":41,"min":23},{"avg":34,"day":"2022-04-28","max":34,"min":33}],"pm10":[{"avg":22,"day"[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.waqi.info/feed/geo:51.49467;-0.131931/?token=DUMMY_TOKEN
  response:
    body:
      string: '{"status":"ok","data":{"aqi":28,"idx":10874,"attributions":[{"url":"http://uk-air.defra.gov.uk/","name":"UK-AIR,
        air quality information resource - Defra, UK","logo":"UK-Department-for-environment-food-and-rural-affairs.png"},{"url":"https://waqi.info/","name":"World
        Air Quality Index Project"}],"city":{"geo":[51.49467,-0.131931],"name":"London
        Westminster, United Kingdom","url":"https://aqicn.org/city/united-kingdom/london-westminster","location":""},"dominentpol":"o3","iaqi":{"co":{"v":2.2},"h":{"v":82},"no2":{"v":6.6},"o3":{"v":28.3},"p":{"v":1014.6},"pm10":{"v":13},"pm25":{"v":21},"so2":{"v":0.3},"t":{"v":7.1},"w":{"v":0.8},"wg":{"v":5}},"time":{"s":"2022-04-24
        23:00:00","tz":"+01:00","v":1650841200,"iso":"2022-04-24T23:00:00+01:00"},"forecast":{"daily":{"o3":[{"avg":29,"day":"2022-04-23","max":40,"min":20},{"avg":31,"day":"2022-04-24","max":39,"min":26},{"avg":27,"day":"2022-04-25","max":34,"min":24},{"avg":28,"day":"2022-04-26","max":40,"min":19},{"avg":29,"day":"2022-04-27","max":36,"min":20},{"avg":26,"day":"2022-04-28","max":27,"min":26}],"pm10":[{"avg":20,"day":"2022-04-23","max":23,"min":17},{"avg":14,"day":"2022-04-24","max":19,"min":10},{"avg":12,"day":"2022-04-25","max":17,"min":9},{"avg":9,"day":"2022-04-26","max":12,"min":6},{"avg":12,"day":"2022-04-27","max":14,"min":9},{"avg":13,"day":"2022-04-28","max":14,"min":13}],"pm25":[{"avg":61,"day":"2022-04-23","max":70,"min":54},{"avg":45,"day":"2022-04-24","max":57,"min":28},{"avg":35,"day":"2022-04-25","max":50,"min":29},{"avg":28,"day":"2022-04-26","max":36,"min":19},{"avg":30,"day":"2022-04-27","max":40,"min":25},{"avg":32,"day":"2022-04-28","max":32,"min":30}]}},"debug":{"sync":"2022-04-25T09:40:08+09:00"}}}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Gen-Time:
      - "190.623\xC2\xB5s"
    status:
      code: 200
      message: OK
[...]
