interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.waqi.info/feed//geo:not%20a%20lat;not%20a%20lon/?token=DUMMY_TOKEN
  response:
    body:
      string: ''
    headers:
      Location:
      - /feed/geo:not%20a%20lat;not%20a%20lon/?token=DUMMY_TOKEN
    status:
      code: 301
      message: Moved Permanently
- request:
    body: null
    headers:
    method: GET
    uri: https://api.waqi.info/feed/geo:not%20a%20lat;not%20a%20lon/?token=DUMMY_TOKEN
  response:
    body:
      string: '{"status":"error","data":"Invalid geo position - Can not parse ''not
        a lat,not a lon''"}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Gen-Time:
      - "52.74\xC2\xB5s"
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.waqi.info/feed//geo:None;None/?token=DUMMY_TOKEN
  response:
    body:
      string: ''
    headers:
      Location:
      - /feed/geo:None;None/?token=DUMMY_TOKEN
    status:
      code: 301
      message: Moved Permanently
- request:
    body: null
    headers:
    method: GET
    uri: https://api.waqi.info/feed/geo:None;None/?token=DUMMY_TOKEN
  response:
    body:
      string: '{"status":"error","data":"Invalid geo position - Can not parse ''None,None''"}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Gen-Time:
      - "80.701\xC2\xB5s"
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.waqi.info/feed//geo:51.51;-0.13/?token=DUMMY_TOKEN
  response:
    body:
      string: ''
    headers:
      Location:
      - /feed/geo:51.51;-0.13/?token=DUMMY_TOKEN
    status:
      code: 301
      message: Moved Permanently
- request:
    body: null
    headers:
    method: GET
    uri: https://api.waqi.info/feed/geo:51.51;-0.13/?token=DUMMY_TOKEN
  response:
    body:
      string: '{"status":"ok","data":{"aqi":59,"idx":5724,"attributions":[{"url":"http://uk-air.defra.gov.uk/","name":"UK-AIR,
        air quality information resource - Defra, UK","logo":"UK-Department-for-environment-food-and-rural-affairs.png"},{"url":"https://londonair.org.uk/","name":"London
        Air Quality Network - Environmental Research Group, King''s College London","logo":"UK-London-Kings-College.png"},{"url":"https://waqi.info/","name":"World
        Air Quality Index Project"}],"city":{"geo":[51.5073509,-0.1277583],"name":"London","url":"https://aqicn.org/city/london","location":""},"dominentpol":"pm25","iaqi":{"co":{"v":0.8},"h":{"v":75.1},"no2":{"v":15.1},"o3":{"v":18.4},"p":{"v":1020.7},"pm10":{"v":24},"pm25":{"v":59},"so2":{"v":0.9},"t":{"v":13.8},"w":{"v":1.4}},"time":{"s":"2022-05-03
        16:00:00","tz":"+01:00","v":1651593600,"iso":"2022-05-03T16:00:00+01:00"},"forecast":{"daily":{"o3":[{"avg":23,"day":"2022-05-01","max":34,"min":14},{"avg":23,"day":"2022-05-02","max":38,"min":4},{"avg":18,"day":"2022-05-03","max":31,"min":1},{"avg":21,"day":"2022-05-04","max":34,"min":15},{"avg":24,"day":"2022-05-05","max":36,"min":15},{"avg":17,"day":"2022-05-06","max":30,"min":11},{"avg":15,"day":"2022-05-07","max":18,"min":15}],"pm10":[{"avg":16,"day":"2022-05-01","max":21,"min":10},{"avg":20,"day":"2022-05-02","max":23,"min":13},{"avg":22,"day":"2022-05-03","max":29,"min":14},{"avg":15,"day":"2022-05-04","max":24,"min":7},{"avg":14,"day":"2022-05-05","max":17,"min":9},{"avg":11,"day":"2022-05-06","max":15,"min":6},{"avg":11,"day":"2022-05-07","max":11,"min":10}],"pm25":[{"avg":55,"day":"2022-05-01","max":64,"min":38},{"avg":61,"day":"2022-05-02","max":73,"min":51},{"avg":67,"day":"2022-05-03","max":82,"min":50},{"avg":47,"day":"2022-05-04","max":74,"min":23},{"avg":40,"day":"2022-05-05","max":57,"min":25},{"avg":36,"day":"2022-05-06","max":49,"min":19},{"avg":40,"day":"2022-05-07","max":40,"min":31}],"uvi":[{"avg":0,"day":"2022-05-01","max":2,"min":0},{"avg":1,"day":"2022-05-02","max":3,"min":0},{"avg":0,"day":"2022-05-03","max":3,"min":0},{"avg":1,"day":"2022-05-04","max":2,"min":0},{"avg":1,"day":"2022-05-05","max":4,"min":0},{"avg":1,"day":"2022-05-06","max":4,"min":0},{"avg":1,"day":"2022-05-07","max":4,"min":0},{"avg":0,"day":"2022-05-08","max":0,"min":0}]}},"debug":{"sync":"2022-05-04T01:38:20+09:00"}}}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Gen-Time:
      - "276.785\xC2\xB5s"
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.waqi.info/feed//geo:5000;5000/?token=DUMMY_TOKEN
  response:
    body:
      string: ''
    headers:
      Location:
      - /feed/geo:5000;5000/?token=DUMMY_TOKEN
    status:
      code: 301
      message: Moved Permanently
- request:
    body: null
    headers:
    method: GET
    uri: https://api.waqi.info/feed/geo:5000;5000/?token=DUMMY_TOKEN
  response:
    body:
      string: "{\"status\":\"ok\",\"data\":{\"aqi\":9,\"idx\":9896,\"attributions\":[{\"url\":\"https://soramame.env.go.jp/\",\"name\":\"Japan
        Atmospheric Environmental Regional Observation System (\u74B0\u5883\u7701\u5927\u6C17\u6C5A\u67D3\u7269\u8CEA\u5E83\u57DF\u76E3\u8996\u30B7\u30B9\u30C6\u30E0)\",\"logo\":\"Japan-Soramame.png\"},{\"url\":\"https://waqi.info/\",\"name\":\"World
        Air Quality Index Project\"}],\"city\":{\"geo\":[43.798243,143.890385],\"name\":\"Tokiwach\u014D,
        Kitami-shi, Hokkaid\u014D, Japan (\u5317\u898B\u5E02\u5E38\u78D0\u753A\u5927\u6C17\u6E2C\u5B9A\u5C40\u820E\u5317\u898B\u5E02)\",\"url\":\"https://aqicn.org/city/japan/kitami-shi-/kitami-shi-tokiwa-machi-taiki-sokuteikyokusha\",\"location\":\"\"},\"dominentpol\":\"pm25\",\"iaqi\":{\"h\":{\"v\":83},\"p\":{\"v\":1010.8},\"pm10\":{\"v\":1},\"pm25\":{\"v\":9},\"t\":{\"v\":6.1},\"w\":{\"v\":2},\"wg\":{\"v\":6}},\"time\":{\"s\":\"2022-05-04
        00:00:00\",\"tz\":\"+09:00\",\"v\":1651622400,\"iso\":\"2022-05-04T00:00:00+09:00\"},\"forecast\":{\"daily\":{\"o3\":[{\"avg\":14,\"day\":\"2022-05-02\",\"max\":19,\"min\":11},{\"avg\":13,\"day\":\"2022-05-03\",\"max\":18,\"min\":10},{\"avg\":16,\"day\":\"2022-05-04\",\"max\":19,\"min\":13},{\"avg\":14,\"day\":\"2022-05-05\",\"max\":18,\"min\":8},{\"avg\":23,\"day\":\"2022-05-06\",\"max\":31,\"min\":17},{\"avg\":23,\"day\":\"2022-05-07\",\"max\":27[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.waqi.info/feed//geo:-5000;-5000/?token=DUMMY_TOKEN
  response:
    body:
      string: ''
    headers:
      Location:
      - /feed/geo:-5000;-5000/?token=DUMMY_TOKEN
    status:
      code: 301
      message: Moved Permanently
- request:
    body: null
    headers:
    method: GET
    uri: https://api.waqi.info/feed/geo:-5000;-5000/?token=DUMMY_TOKEN
  response:
    body:
      string: '{"status":"ok","data":{"aqi":34,"idx":5266,"attributions":[{"url":"http://health.hawaii.gov/cab/","name":"State
        of Hawaii, Department of Health, Clean Air Branch","logo":"US-Hawaii.png"},{"url":"http://www.airnow.gov/","name":"Air
        Now - US EPA"},{"url":"https://waqi.info/","name":"World Air Quality Index
        Project"}],"city":{"geo":[21.32374479,-158.0886127],"name":"Kapolei, Hawaii,
        USA","url":"https://aqicn.org/city/usa/hawaii/kapolei","location":""},"dominentpol":"pm25","iaqi":{"co":{"v":2.3},"dew":{"v":18},"h":{"v":73},"no2":{"v":1.9},"o3":{"v":0.1},"p":{"v":1019.9},"pm10":{"v":20},"pm25":{"v":34},"so2":{"v":0.1},"t":{"v":23},"w":{"v":0.8},"wg":{"v":7.7}},"time":{"s":"2022-05-03
        06:00:00","tz":"-10:00","v":1651557600,"iso":"2022-05-03T06:00:00-10:00"},"forecast":{"daily":{"o3":[{"avg":17,"day":"2022-05-01","max":18,"min":15},{"avg":17,"day":"2022-05-02","max":19,"min":17},{"avg":18,"day":"2022-05-03","max":20,"min":14},{"avg":12,"day":"2022-05-04","max":15,"min":11},{"avg":14,"day[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.waqi.info/feed//geo:nan;nan/?token=DUMMY_TOKEN
  response:
    body:
      string: ''
    headers:
      Location:
      - /feed/geo:nan;nan/?token=DUMMY_TOKEN
    status:
      code: 301
      message: Moved Permanently
- request:
    body: null
    headers:
    method: GET
    uri: https://api.waqi.info/feed/geo:nan;nan/?token=DUMMY_TOKEN
  response:
    body:
      string: "{\"status\":\"ok\",\"data\":{\"aqi\":999,\"idx\":1414,\"attributions\":[{\"url\":\"http://www.wlmqhb.gov.cn/\",\"name\":\"Urumqi
        Environmental Protection Agency (\u4E4C\u9C81\u6728\u9F50\u73AF\u4FDD\u5C40)\"},{\"url\":\"https://waqi.info/\",\"name\":\"World
        Air Quality Index Project\"}],\"city\":{\"geo\":[43.768,87.6046],\"[...]
