interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.waqi.info/feed//geo:not%20a%20lat;not%20a%20lon/?token=DUMMY_TOKEN
  response:
    body:
      string: ''
    headers:
      Location:
      - /feed/geo:not%20a%20lat;not%20a%20lon/?token=DUMMY_TOKEN
    status:
      code: 301
      message: Moved Permanently
- request:
    body: null
    headers:
    method: GET
    uri: https://api.waqi.info/feed/geo:not%20a%20lat;not%20a%20lon/?token=DUMMY_TOKEN
  response:
    body:
      string: '{"status":"error","data":"Invalid geo position - Can not parse ''not
        a lat,not a lon''"}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Gen-Time:
      - "91.572\xC2\xB5s"
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.waqi.info/feed//geo:None;None/?token=DUMMY_TOKEN
  response:
    body:
      string: ''
    headers:
      Location:
      - /feed/geo:None;None/?token=DUMMY_TOKEN
    status:
      code: 301
      message: Moved Permanently
- request:
    body: null
    headers:
    method: GET
    uri: https://api.waqi.info/feed/geo:None;None/?token=DUMMY_TOKEN
  response:
    body:
      string: '{"status":"error","data":"Invalid geo position - Can not parse ''None,None''"}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Gen-Time:
      - "71.782\xC2\xB5s"
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.waqi.info/feed//geo:51.51;-0.13/?token=DUMMY_TOKEN
  response:
    body:
      string: ''
    headers:
      Location:
      - /feed/geo:51.51;-0.13/?token=DUMMY_TOKEN
    status:
      code: 301
      message: Moved Permanently
- request:
    body: null
    headers:
    method: GET
    uri: https://api.waqi.info/feed/geo:51.51;-0.13/?token=DUMMY_TOKEN
  response:
    body:
      string: '{"status":"ok","data":{"aqi":34,"idx":5724,"attributions":[{"url":"http://uk-air.defra.gov.uk/","name":"UK-AIR,
        air quality information resource - Defra, UK","logo":"UK-Department-for-environment-food-and-rural-affairs.png"},{"url":"https://londonair.org.uk/","name":"London
        Air Quality Network - Environmental Research Group, King''s College London","logo":"UK-London-Kings-College.png"},{"url":"https://waqi.info/","name":"World
        Air Quality Index Project"}],"city":{"geo":[51.5073509,-0.1277583],"name":"London","url":"https://aqicn.org/city/london","location":""},"dominentpol":"pm25","iaqi":{"co":{"v":1.9},"h":{"v":73.5},"no2":{"v":12.4},"o3":{"v":13.9},"p":{"v":1003.7},"pm10":{"v":17},"pm25":{"v":34},"so2":{"v":3.1},"t":{"v":14.7},"w":{"v":1.2}},"time":{"s":"2022-05-23
        06:00:00","tz":"+01:00","v":1653285600,"iso":"2022-05-23T06:00:00+01:00"},"forecast":{"daily":{"o3":[{"avg":23,"day":"2022-05-21","max":36,"min":15},{"avg":22,"day":"2022-05-22","max":39,"min":2},{"avg":19,"day":"2022-05-23","max":31,"min":2},{"avg":23,"day":"2022-05-24","max":32,"min":14},{"avg":21,"day":"2022-05-25","max":32,"min":12},{"avg":17,"day":"2022-05-26","max":17,"min":15}],"pm10":[{"avg":13,"day":"2022-05-21","max":17,"min":10},{"avg":15,"day":"2022-05-22","max":23,"min":7},{"avg":14,"day":"2022-05-23","max":21,"min":6},{"avg":6,"day":"2022-05-24","max":9,"min":4},{"avg":10,"day":"2022-05-25","max":13,"min":7},{"avg":14,"day":"2022-05-26","max":15,"min":14}],"pm25":[{"avg":32,"day":"2022-05-21","max":38,"min":23},{"avg":40,"day":"2022-05-22","max":63,"min":22},{"avg":42,"day":"2022-05-23","max":66,"min":18},{"avg":20,"day":"2022-05-24","max":28,"min":12},{"avg":25,"day":"2022-05-25","max":35,"min":17},{"avg":44,"day":"2022-05-26","max":44,"min":39}],"uvi":[{"avg":1,"day":"2022-05-21","max":3,"min":0},{"avg":1,"day":"2022-05-22","max":5,"min":0},{"avg":0,"day":"2022-05-23","max":2,"min":0},{"avg":1,"day":"2022-05-24","max":3,"min":0},{"avg":1,"day":"2022-05-25","max":2,"min":0},{"avg":1,"day":"2022-05-26","max":5,"min":0},{"avg":1,"day":"2022-05-27","max":7,"min":0}]}},"debug":{"sync":"2022-05-23T15:40:58+09:00"}}}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Gen-Time:
      - "239.044\xC2\xB5s"
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.waqi.info/feed//geo:5000;5000/?token=DUMMY_TOKEN
  response:
    body:
      string: ''
    headers:
      Location:
      - /feed/geo:5000;5000/?token=DUMMY_TOKEN
    status:
      code: 301
      message: Moved Permanently
- request:
    body: null
    headers:
    method: GET
    uri: https://api.waqi.info/feed/geo:5000;5000/?token=DUMMY_TOKEN
  response:
    body:
      string: "{\"status\":\"ok\",\"data\":{\"aqi\":46,\"idx\":9896,\"attributions\":[{\"url\":\"https://soramame.env.go.jp/\",\"name\":\"Japan
        Atmospheric Environmental Regional Observation System (\u74B0\u5883\u7701\u5927\u6C17\u6C5A\u67D3\u7269\u8CEA\u5E83\u57DF\u76E3\u8996\u30B7\u30B9\u30C6\u30E0)\",\"logo\":\"Japan-Soramame.png\"},{\"url\":\"https://waqi.info/\",\"name\":\"World
        Air Quality Index Project\"}],\"city\":{\"geo\":[43.798243,143.890385],\"name\":\"Tokiwach\u014D,
        Kitami-shi, Hokkaid\u014D, Japan (\u5317\u898B\u5E02\u5E38\u78D0\u753A\u5927\u6C17\u6E2C\u5B9A\u5C40\u820E\u5317\u898B\u5E02)\",\"url\":\"https://aqicn.org/city/japan/kitami-shi-/kitami-shi-tokiwa-machi-taiki-sokuteikyokusha\",\"location\":\"\"},\"dominentpol\":\"pm25\",\"iaqi\":{\"h\":{\"v\":70},\"p\":{\"v\":1011.1},\"pm10\":{\"v\":10},\"pm25\":{\"v\":46},\"t\":{\"v\":15.2},\"w\":{\"v\":2.5},\"wg\":{\"v\":7.5}},\"time\":{\"s\":\"2022-05-23
        15:00:00\",\"tz\":\"+09:00\",\"v\":1653318000,\"iso\":\"2022-05-23T15:00:00+09:00\"},\"forecast\":{\"daily\":{\"o3\":[{\"avg\":28,\"day\":\"2022-05-21\",\"max\":31,\"min\":28},{\"avg\":19,\"day\":\"2022-05-22\",\"max\":27,\"min\":11},{\"avg\":15,\"day\":\"2022-05-23\",\"max\":18,\"min\":10},{\"avg\":14,\"day\":\"2022-05-24\",\"max\":22,\"min\":6},{\"avg\":14,\"day\":\"2022-05-25\",\"max\":18,\"min\":4},{\"avg\":12,\"day\":\"2022-05-26\",\"max\":1[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.waqi.info/feed//geo:-5000;-5000/?token=DUMMY_TOKEN
  response:
    body:
      string: ''
    headers:
      Location:
      - /feed/geo:-5000;-5000/?token=DUMMY_TOKEN
    status:
      code: 301
      message: Moved Permanently
- request:
    body: null
    headers:
    method: GET
    uri: https://api.waqi.info/feed/geo:-5000;-5000/?token=DUMMY_TOKEN
  response:
    body:
      string: '{"status":"ok","data":{"aqi":28,"idx":5266,"attributions":[{"url":"http://health.hawaii.gov/cab/","name":"State
        of Hawaii, Department of Health, Clean Air Branch","logo":"US-Hawaii.png"},{"url":"http://www.airnow.gov/","name":"Air
        Now - US EPA"},{"url":"https://waqi.info/","name":"World Air Quality Index
        Project"}],"city":{"geo":[21.32374479,-158.0886127],"name":"Kapolei, Hawaii,
        USA","url":"https://aqicn.org/city/usa/hawaii/kapolei","location":""},"dominentpol":"pm25","iaqi":{"co":{"v":2},"dew":{"v":18},"h":{"v":61},"no2":{"v":1.9},"o3":{"v":0.1},"p":{"v":1021.3},"pm10":{"v":17},"pm25":{"v":28},"so2":{"v":0.1},"t":{"v":26},"w":{"v":1},"wg":{"v":8.7}},"time":{"s":"2022-05-22
        20:00:00","tz":"-10:00","v":1653249600,"iso":"2022-05-22T20:00:00-10:00"},"forecast":{"daily":{"o3":[{"avg":7,"day":"2022-05-20","max":9,"min":5},{"avg":8,"day":"2022-05-21","max":12,"min":5},{"avg":12,"day":"2022-05-22","max":18,"min":9},{"avg":11,"day":"2022-05-23","max":15,"min":8},{"avg":14,"day":"2022-0[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.waqi.info/feed//geo:nan;nan/?token=DUMMY_TOKEN
  response:
    body:
      string: ''
    headers:
      Location:
      - /feed/geo:nan;nan/?token=DUMMY_TOKEN
    status:
      code: 301
      message: Moved Permanently
- request:
    body: null
    headers:
    method: GET
    uri: https://api.waqi.info/feed/geo:nan;nan/?token=DUMMY_TOKEN
  response:
    body:
      string: '{"status":"ok","data":{"aqi":844,"idx":11269,"attributions":[{"url":"http://cpcb.nic.in/","name":"CPCB
        - India Central Pollution Control Board","logo":"India-CPCB.png"},{"url":"https://waqi.info/","name":"World
        Air Quality Index Project"}],"city":{"geo":[30.233011,74.907758],"name":"Hardev
        Nagar, Bathinda, India","u[...]
