interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.waqi.info/api/attsse/5724/yd.json
  response:
    body:
      string: 'event: debug

        data: "Fetching 2022-P4"


        event: data

        data: {"msg":{"now":"2022-04-24T20:17:53+01:00","st":457992,"ps":{"co":"1|0B2CAabDaCbAba2Ba2BCbcAaB","no2":"1|0LEFEcDjDaHMghECabe2ACfca","o3":"1|0!32BbcDAhEbFiFBAFaJfaA2aCE","pm10":"1|0OFBdCdCBaCMCndBYjhBIBcKe","pm25":"1!32PGjhgANDCNCrcC!49a!-34eLBfQa","so2":"1|0.3ABa5AB2Aa4ABa4A"},"dh":24,"time":{"span":["2022-04-24T00:00:00Z","2022-04-24T00:00:00Z"]},"meta":{"si":{"sources":[{"name":"Citizen
        Weather Observer Program (CWOP/APRS)","url":"http://wxqa.com/","pols":["weather"],"logo":""},{"name":"UK-AIR,
        air quality information resource - Defra, UK","url":"http://uk-air.defra.gov.uk/","pols":null,"logo":"UK-Department-for-environment-food-and-rural-affairs.png"},{"name":"London
        Air Quality Network - Environmental Research Group, King''s College London","url":"https://londonair.org.uk/","pols":null,"logo":"UK-London-Kings-College.png"}],"city":{"name":"London","idx":5724},"timezone":"1.00"},"dt":"0ms"}},"status":"ok","cached":"5h36m15.647069565s"}


        event: debug

        data: "Fetching 2022-P3"


        event: data

        data: {"msg":{"now":"2022-04-06T19:38:10+01:00","st":457248,"ps":{"co":"1|0.2BAaAa2BABa2AB2AIfdBCbBCb2a2ACEcaC","no2":"1|0XCInfaJc2FdeBJAgHak2DM2GjgiHhgeFCF","o3":"1|0ScEFBA2aEBbGbGkaBEaDcGFABCsbJ2ACBb","pm10":"1|0QPKrgCDOge2bcHBEb2DAT2FGcqtI2DueFC","pm25":"1!53!45C!-36bhb!31qadnDKbMqENK!28RPEA!-48!-34RKD!-48kRK","so2":"1|0.7AB2ABaABaB2a2ABA2B3A2aAa3A"},"dh":24,"time":{"span":["2022-04-0[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://search.waqi.info/nsearch/station/london
  response:
    body:
      string: "{\"dt\":\"40.12991ms\",\"term\":\"london\",\"results\":[{\"s\":{\"a\":\"50\",\"t\":[\"2022-04-25
        00:00:00\",\"+01:00\"],\"n\":[\"London\"],\"u\":\"london\"},\"n\":[\"London\"],\"score\":8,\"x\":5724,\"c\":\"GB\",\"z\":0,\"$\":\"realtime\"},{\"s\":{\"a\":\"55\",\"t\":[\"2022-04-24
        20:00:00\",\"-05:00\"],\"n\":[\"London, Ontario\"],\"u\":\"canada/ontario/london\"},\"n\":[\"London,
        Ontario, Canada\"],\"score\":7,\"x\":15,\"c\":\"CA\",\"z\":0,\"$\":\"realtime\"},{\"s\":{\"a\":\"46\",\"t\":[\"2022-04-24
        23:00:00\",\"+01:00\"],\"n\":[\"London Harrow Stanmore\"],\"u\":\"united-kingdom/london-harrow-stanmore\"},\"n\":[\"London
        Harrow Stanmore, United Kin[...]
[...]
