interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://search.waqi.info/nsearch/station/ukraine
  response:
    body:
      string: "{\"dt\":\"21.930572ms\",\"term\":\"ukraine\",\"results\":[{\"s\":{\"a\":\"124\",\"t\":[\"2022-04-21
        05:00:00\",\"+03:00\"],\"n\":[\"SteelDrum, Lviv\",\"vul.Kleparivska 18\"],\"u\":\"ukraine/lviv/steeldrum\"},\"n\":[\"SteelDrum,
        Lviv, Ukraine\"],\"score\":6,\"x\":11795,\"c\":\"UA\",\"z\":0,\"$\":\"realtime\"},{\"s\":{\"a\":\"86\",\"t\":[\"2022-04-21
        04:00:00\",\"+03:00\"],\"n\":[\"Berezhans\\\\'ka Street, 3, Ternopil\"]},\"n\":[\"Berezhans'ka
        Street, 3, Ternopil, Ukraine\"],\"score\":6,\"x\":11660,\"c\":\"UA\",\"z\":0,\"$\":\"realtime\"},{\"s\":{\"a\":\"65\",\"t\":[\"2022-04-21
        04:00:00\",\"+03:00\"],\"n\":[\"Velyka Diivska Street, 4, Dnipro\"],\"u\":\"ukraine/dnipro/velyka-diivska-street--4\"},\"n\":[\"Velyka
        Diiv[...]
