interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://search.waqi.info/nsearch/station/ukraine
  response:
    body:
      string: "{\"dt\":\"9.882538ms\",\"term\":\"ukraine\",\"results\":[{\"s\":{\"a\":\"68\",\"t\":[\"2022-05-23
        09:00:00\",\"+03:00\"],\"n\":[\"bulvar Perova, 48, Kiyiv\"],\"u\":\"ukraine/kiyiv/bulvar-perova--48\"},\"n\":[\"bulvar
        Perova, 48, Kiyiv, Ukraine\"],\"score\":6,\"x\":11884,\"c\":\"UA\",\"z\":0,\"$\":\"realtime\"},{\"s\":{\"a\":\"42\",\"t\":[\"2022-05-23
        09:00:00\",\"+03:00\"],\"n\":[\"vulicya Sim\\\\'yi Kulzhenkiv, 31, Kiyiv\"]},\"n\":[\"vulicya
        Sim'yi Kulzhenkiv, 31, Kiyiv, Ukraine\"],\"score\":6,\"x\":11902,\"c\":\"UA\",\"z\":0,\"$\":\"realtime\"},{\"s\":{\"a\":\"17\",\"t\":[\"2022-05-23
        10:00:00\",\"+03:00\"],\"n\":[\"prospekt Miru, 20, Shepetivka\",\"Luftdaten
        #25838\"],\"u\":\"ukraine/shepetivka/prospekt-miru--20\[...]
