interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.waqi.info/feed//london/?token=DUMMY_TOKEN
  response:
    body:
      string: ''
    headers:
      Location:
      - /feed/london/?token=DUMMY_TOKEN
    status:
      code: 301
      message: Moved Permanently
- request:
    body: null
    headers:
    method: GET
    uri: https://api.waqi.info/feed/london/?token=DUMMY_TOKEN
  response:
    body:
      string: '{"status":"ok","data":{"aqi":39,"idx":5724,"attributions":[{"url":"http://uk-air.defra.gov.uk/","name":"UK-AIR,
        air quality information resource - Defra, UK","logo":"UK-Department-for-environment-food-and-rural-affairs.png"},{"url":"https://londonair.org.uk/","name":"London
        Air Quality Network - Environmental Research Group, King''s College London","logo":"UK-London-Kings-College.png"},{"url":"https://waqi.info/","name":"World
        Air Quality Index Project"}],"city":{"geo":[51.5073509,-0.1277583],"name":"London","url":"https://aqicn.org/city/london","location":""},"dominentpol":"pm25","iaqi":{"co":{"v":1.7},"h":{"v":78},"no2":{"v":8.8},"o3":{"v":32.5},"p":{"v":1011.3},"pm10":{"v":17},"pm25":{"v":39},"so2":{"v":0.5},"t":{"v":8.8},"w":{"v":4}},"time":{"s":"2022-04-22
        00:00:00","tz":"+01:00","v":1650585600,"iso":"2022-04-22T00:00:00+01:00"},"forecast":{"daily":{"o3":[{"avg":17,"day":"2022-04-19","max":34,"min":2},{"avg":25,"day":"2022-04-20","max":39,"min":14},{"avg":25,"day":"2022-04-21","max":37,"min":13},{"avg":24,"day":"2022-04-22","max":33,"min":17},{"avg":28,"day":"2022-04-23","max":38,"min":19},{"avg":30,"day":"2022-04-24","max":38,"min":24},{"avg":29,"day":"2022-04-25","max":29,"min":29}],"pm10":[{"avg":23,"day":"2022-04-19","max":31,"min":13},{"avg":19,"day":"2022-04-20","max":36,"min":10},{"avg":20,"day":"2022-04-21","max":29,"min":11},{"avg":18,"day":"2022-04-22","max":23,"min":12},{"avg":19,"day":"2022-04-23","max":22,"min":17},{"avg":16,"day":"2022-04-24","max":19,"min":13},{"avg":17,"day":"2022-04-25","max":18,"min":17}],"pm25":[{"avg":64,"day":"2022-04-19","max":81,"min":45},{"avg":59,"day":"2022-04-20","max":94,"min":33},{"avg":59,"day":"2022-04-21","max":78,"min":40},{"avg":55,"day":"2022-04-22","max":63,"min":41},{"avg":58,"day":"2022-04-23","max":68,"min":53},{"avg":49,"day":"2022-04-24","max":60,"min":40},{"avg":43,"day":"2022-04-25","max":43,"min":42}],"uvi":[{"avg":1,"day":"2022-04-20","max":4,"min":0},{"avg":1,"day":"2022-04-21","max":4,"min":0},{"avg":0,"day":"2022-04-22","max":3,"min":0},{"avg":0,"day":"2022-04-23","max":3,"min":0},{"avg":1,"day":"2022-04-24","max":3,"min":0},{"avg":0,"day":"2022-04-25","max":2,"min":0},{"avg":0,"day":"2022-04-26","max":2,"min":0}]}},"debug":{"sync":"2022-04-22T09:24:17+09:00"}}}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Gen-Time:
      - "276.394\xC2\xB5s"
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.waqi.info/feed//new%20delhi/?token=DUMMY_TOKEN
  response:
    body:
      string: ''
    headers:
      Location:
      - /feed/new%20delhi/?token=DUMMY_TOKEN
    status:
      code: 301
      message: Moved Permanently
- request:
    body: null
    headers:
    method: GET
    uri: https://api.waqi.info/feed/new%20delhi/?token=DUMMY_TOKEN
  response:
    body:
      string: "{\"status\":\"ok\",\"data\":{\"aqi\":99,\"idx\":7024,\"attributions\":[{\"url\":\"http://worldweather.wmo.int\",\"name\":\"World
        Meteorological Organization - surface synoptic observations (WMO-SYNOP)\"},{\"url\":\"https://in.usembassy.gov/embassy-consulates/new-delhi/air-quality-data/\",\"name\":\"U.S.
        Embassy and Consulates' Air Quality Monitor in India\",\"logo\":\"US-StateDepartment.png\"},{\"url\":\"https://waqi.info/\",\"name\":\"World
        Air Quality Index Project\"}],\"city\":{\"geo\":[28.63576,77.22445],\"name\":\"New
        Delhi US Embassy, India (\u0928\u0908 \u0926\u093F\u0932\u094D\u0932\u0940
        \u0905\u092E\u0947\u0930\u093F\u0915\u0940 \u0926\u0942\u0924\u093E\u0935\u093E\u0938)\",\"url\":\"https://aqicn.org/city/india/new-delhi/us-embassy\",\"location\":\"\"},\"dominentpol\":\"pm25\",\"iaqi\":{\"dew\":{\"v\":11},\"h\":{\"v\":41},\"p\":{\"v\":1008},\"pm25\":{\"v\":99},\"t\":{\"v\":25},\"w\":{\"v\":1},\"wg\":{\"v\":9.2}},\"time\":{\"s\":\"2022-04-22
        06:00:00\",\"tz\":\"+05:30\",\"v\":1650607200,\"iso\":\"2022-04-22T06:00:00+05:30\"},\"forecast\":{\"daily\":{\"o3\":[{\"avg\":18,\"day\":\"2022-04-20\",\"max\":53,\"min\":1},{\"avg\":7,\"day\":\"2022-04-21\",\"max\":30,\"min\":1},{\"avg\":20,\"day\":\"2022-04-22\",\"max\":70,\"min\":1},{\"avg\":23,\"day\":\"2022-04-23\",\"max\":83,\"min\":1},{\"avg\":23,\"day\":\"2022-04-24\",\"max\":47,\"min\":6},{\"avg\":15,\"day\":\"2022-04-25\",\"max\":65,\"[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.waqi.info/feed//paris/?token=DUMMY_TOKEN
  response:
    body:
      string: ''
    headers:
      Location:
      - /feed/paris/?token=DUMMY_TOKEN
    status:
      code: 301
      message: Moved Permanently
- request:
    body: null
    headers:
    method: GET
    uri: https://api.waqi.info/feed/paris/?token=DUMMY_TOKEN
  response:
    body:
      string: "{\"status\":\"ok\",\"data\":{\"aqi\":\"-\",\"idx\":5722,\"attributions\":[{\"url\":\"https://www.airparif.asso.fr/\",\"name\":\"AirParif
        - Association de surveillance de la qualit\xE9 de l'air en \xCEle-de-France\",\"logo\":\"Paris-Air-Parif.png\"},{\"url\":\"http://www.eea.europa.eu/themes/air/\",\"name\":\"European
        Environment [...]
