interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.waqi.info/feed//london/?token=DUMMY_TOKEN
  response:
    body:
      string: ''
    headers:
      Location:
      - /feed/london/?token=DUMMY_TOKEN
    status:
      code: 301
      message: Moved Permanently
- request:
    body: null
    headers:
    method: GET
    uri: https://api.waqi.info/feed/london/?token=DUMMY_TOKEN
  response:
    body:
      string: '{"status":"ok","data":{"aqi":35,"idx":5724,"attributions":[{"url":"http://uk-air.defra.gov.uk/","name":"UK-AIR,
        air quality information resource - Defra, UK","logo":"UK-Department-for-environment-food-and-rural-affairs.png"},{"url":"https://londonair.org.uk/","name":"London
        Air Quality Network - Environmental Research Group, King''s College London","logo":"UK-London-Kings-College.png"},{"url":"https://waqi.info/","name":"World
        Air Quality Index Project"}],"city":{"geo":[51.5073509,-0.1277583],"name":"London","url":"https://aqicn.org/city/london","location":""},"dominentpol":"pm25","iaqi":{"co":{"v":2.2},"h":{"v":82.5},"no2":{"v":8},"o3":{"v":28.3},"p":{"v":1014.6},"pm10":{"v":24},"pm25":{"v":35},"so2":{"v":0.3},"t":{"v":7.5},"w":{"v":0.5}},"time":{"s":"2022-04-25
        00:00:00","tz":"+01:00","v":1650844800,"iso":"2022-04-25T00:00:00+01:00"},"forecast":{"daily":{"o3":[{"avg":26,"day":"2022-04-22","max":36,"min":18},{"avg":29,"day":"2022-04-23","max":40,"min":20},{"avg":31,"day":"2022-04-24","max":39,"min":26},{"avg":27,"day":"2022-04-25","max":34,"min":24},{"avg":28,"day":"2022-04-26","max":40,"min":19},{"avg":29,"day":"2022-04-27","max":36,"min":20},{"avg":26,"day":"2022-04-28","max":27,"min":26}],"pm10":[{"avg":17,"day":"2022-04-22","max":21,"min":10},{"avg":20,"day":"2022-04-23","max":23,"min":17},{"avg":14,"day":"2022-04-24","max":19,"min":10},{"avg":12,"day":"2022-04-25","max":17,"min":9},{"avg":9,"day":"2022-04-26","max":12,"min":6},{"avg":12,"day":"2022-04-27","max":14,"min":9},{"avg":13,"day":"2022-04-28","max":14,"min":13}],"pm25":[{"avg":50,"day":"2022-04-22","max":62,"min":35},{"avg":61,"day":"2022-04-23","max":70,"min":54},{"avg":45,"day":"2022-04-24","max":57,"min":28},{"avg":35,"day":"2022-04-25","max":50,"min":29},{"avg":28,"day":"2022-04-26","max":36,"min":19},{"avg":30,"day":"2022-04-27","max":40,"min":25},{"avg":32,"day":"2022-04-28","max":32,"min":30}],"uvi":[{"avg":1,"day":"2022-04-23","max":4,"min":0},{"avg":1,"day":"2022-04-24","max":4,"min":0},{"avg":1,"day":"2022-04-25","max":3,"min":0},{"avg":1,"day":"2022-04-26","max":4,"min":0},{"avg":0,"day":"2022-04-27","max":2,"min":0},{"avg":1,"day":"2022-04-28","max":3,"min":0},{"avg":1,"day":"2022-04-29","max":2,"min":0}]}},"debug":{"sync":"2022-04-25T09:22:03+09:00"}}}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Gen-Time:
      - "77.611\xC2\xB5s"
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.waqi.info/feed//new%20delhi/?token=DUMMY_TOKEN
  response:
    body:
      string: ''
    headers:
      Location:
      - /feed/new%20delhi/?token=DUMMY_TOKEN
    status:
      code: 301
      message: Moved Permanently
- request:
    body: null
    headers:
    method: GET
    uri: https://api.waqi.info/feed/new%20delhi/?token=DUMMY_TOKEN
  response:
    body:
      string: "{\"status\":\"ok\",\"data\":{\"aqi\":188,\"idx\":7024,\"attributions\":[{\"url\":\"http://worldweather.wmo.int\",\"name\":\"World
        Meteorological Organization - surface synoptic observations (WMO-SYNOP)\"},{\"url\":\"https://in.usembassy.gov/embassy-consulates/new-delhi/air-quality-data/\",\"name\":\"U.S.
        Embassy and Consulates' Air Quality Monitor in India\",\"logo\":\"US-StateDepartment.png\"},{\"url\":\"https://waqi.info/\",\"name\":\"World
        Air Quality Index Project\"}],\"city\":{\"geo\":[28.63576,77.22445],\"name\":\"New
        Delhi US Embassy, India (\u0928\u0908 \u0926\u093F\u0932\u094D\u0932\u0940
        \u0905\u092E\u0947\u0930\u093F\u0915\u0940 \u0926\u0942\u0924\u093E\u0935\u093E\u0938)\",\"url\":\"https://aqicn.org/city/india/new-delhi/us-embassy\",\"location\":\"\"},\"dominentpol\":\"pm25\",\"iaqi\":{\"dew\":{\"v\":8},\"h\":{\"v\":28},\"p\":{\"v\":1005},\"pm25\":{\"v\":188},\"t\":{\"v\":28},\"w\":{\"v\":1},\"wg\":{\"v\":8.7}},\"time\":{\"s\":\"2022-04-25
        06:00:00\",\"tz\":\"+05:30\",\"v\":1650866400,\"iso\":\"2022-04-25T06:00:00+05:30\"},\"forecast\":{\"daily\":{\"o3\":[{\"avg\":22,\"day\":\"2022-04-23\",\"max\":58,\"min\":1},{\"avg\":24,\"day\":\"2022-04-24\",\"max\":53,\"min\":8},{\"avg\":20,\"day\":\"2022-04-25\",\"max\":56,\"min\":3},{\"avg\":22,\"day\":\"2022-04-26\",\"max\":73,\"min\":1},{\"avg\":23,\"day\":\"2022-04-27\",\"max\":60,\"min\":1},{\"avg\":16,\"day\":\"2022-04-28\",\"max\":70,\[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.waqi.info/feed//paris/?token=DUMMY_TOKEN
  response:
    body:
      string: ''
    headers:
      Location:
      - /feed/paris/?token=DUMMY_TOKEN
    status:
      code: 301
      message: Moved Permanently
- request:
    body: null
    headers:
    method: GET
    uri: https://api.waqi.info/feed/paris/?token=DUMMY_TOKEN
  response:
    body:
      string: "{\"status\":\"ok\",\"data\":{\"aqi\":33,\"idx\":5722,\"attributions\":[{\"url\":\"https://www.airparif.asso.fr/\",\"name\":\"AirParif
        - Association de surveillance de la qualit\xE9 de l'air en \xCEle-de-France\",\"logo\":\"Paris-Air-Parif.png\"},{\"url\":\"http://www.eea.europa.eu/themes/air/\",\"name\":\"European
        Environment Age[...]
[...]
