interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.waqi.info/feed//london/?token=DUMMY_TOKEN
  response:
    body:
      string: ''
    headers:
      Location:
      - /feed/london/?token=DUMMY_TOKEN
    status:
      code: 301
      message: Moved Permanently
- request:
    body: null
    headers:
    method: GET
    uri: https://api.waqi.info/feed/london/?token=DUMMY_TOKEN
  response:
    body:
      string: '{"status":"ok","data":{"aqi":52,"idx":5724,"attributions":[{"url":"http://uk-air.defra.gov.uk/","name":"UK-AIR,
        air quality information resource - Defra, UK","logo":"UK-Department-for-environment-food-and-rural-affairs.png"},{"url":"https://londonair.org.uk/","name":"London
        Air Quality Network - Environmental Research Group, King''s College London","logo":"UK-London-Kings-College.png"},{"url":"https://waqi.info/","name":"World
        Air Quality Index Project"}],"city":{"geo":[51.5073509,-0.1277583],"name":"London","url":"https://aqicn.org/city/london","location":""},"dominentpol":"pm25","iaqi":{"co":{"v":1.7},"h":{"v":80.3},"no2":{"v":6.5},"o3":{"v":32.1},"p":{"v":1010.8},"pm10":{"v":18},"pm25":{"v":52},"so2":{"v":0.6},"t":{"v":8.8},"w":{"v":3.3}},"time":{"s":"2022-04-22
        01:00:00","tz":"+01:00","v":1650589200,"iso":"2022-04-22T01:00:00+01:00"},"forecast":{"daily":{"o3":[{"avg":17,"day":"2022-04-19","max":34,"min":2},{"avg":25,"day":"2022-04-20","max":39,"min":14},{"avg":25,"day":"2022-04-21","max":37,"min":13},{"avg":24,"day":"2022-04-22","max":33,"min":17},{"avg":28,"day":"2022-04-23","max":38,"min":19},{"avg":30,"day":"2022-04-24","max":38,"min":24},{"avg":29,"day":"2022-04-25","max":29,"min":29}],"pm10":[{"avg":23,"day":"2022-04-19","max":31,"min":13},{"avg":19,"day":"2022-04-20","max":36,"min":10},{"avg":20,"day":"2022-04-21","max":29,"min":11},{"avg":18,"day":"2022-04-22","max":23,"min":12},{"avg":19,"day":"2022-04-23","max":22,"min":17},{"avg":16,"day":"2022-04-24","max":19,"min":13},{"avg":17,"day":"2022-04-25","max":18,"min":17}],"pm25":[{"avg":64,"day":"2022-04-19","max":81,"min":45},{"avg":59,"day":"2022-04-20","max":94,"min":33},{"avg":59,"day":"2022-04-21","max":78,"min":40},{"avg":55,"day":"2022-04-22","max":63,"min":41},{"avg":58,"day":"2022-04-23","max":68,"min":53},{"avg":49,"day":"2022-04-24","max":60,"min":40},{"avg":43,"day":"2022-04-25","max":43,"min":42}],"uvi":[{"avg":1,"day":"2022-04-20","max":4,"min":0},{"avg":1,"day":"2022-04-21","max":4,"min":0},{"avg":0,"day":"2022-04-22","max":3,"min":0},{"avg":0,"day":"2022-04-23","max":3,"min":0},{"avg":1,"day":"2022-04-24","max":3,"min":0},{"avg":0,"day":"2022-04-25","max":2,"min":0},{"avg":0,"day":"2022-04-26","max":2,"min":0}]}},"debug":{"sync":"2022-04-22T10:26:00+09:00"}}}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Gen-Time:
      - "93.352\xC2\xB5s"
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.waqi.info/feed//paris/?token=DUMMY_TOKEN
  response:
    body:
      string: ''
    headers:
      Location:
      - /feed/paris/?token=DUMMY_TOKEN
    status:
      code: 301
      message: Moved Permanently
- request:
    body: null
    headers:
    method: GET
    uri: https://api.waqi.info/feed/paris/?token=DUMMY_TOKEN
  response:
    body:
      string: "{\"status\":\"ok\",\"data\":{\"aqi\":\"-\",\"idx\":5722,\"attributions\":[{\"url\":\"https://www.airparif.asso.fr/\",\"name\":\"AirParif
        - Association de surveillance de la qualit\xE9 de l'air en \xCEle-de-France\",\"logo\":\"Paris-Air-Parif.png\"},{\"url\":\"http://www.eea.europa.eu/themes/air/\",\"name\":\"European
        Environment [...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.waqi.info/feed//a%20definitely%20nonexistent%20city/?token=DUMMY_TOKEN
  response:
    body:
      string: ''
    headers:
      Location:
      - /feed/a%20definitely%20nonexistent%20city/?token=DUMMY_TOKEN
    status:
      code: 301
      message: Moved Permanently
- request:
    body: null
    headers:
    method: GET
    uri: https://api.waqi.info/feed/a%20definitely%20nonexistent%20city/?token=DUMMY_TOKEN
  response:
    body:
      string: '{"status":"error","data":"Unknown station"}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Gen-Time:
      - "188.033\xC2\xB5s"
    status:
      code: 200
      message: OK
version: 1
