interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.waqi.info/feed//london/?token=DUMMY_TOKEN
  response:
    body:
      string: ''
    headers:
      Location:
      - /feed/london/?token=DUMMY_TOKEN
    status:
      code: 301
      message: Moved Permanently
- request:
    body: null
    headers:
    method: GET
    uri: https://api.waqi.info/feed/london/?token=DUMMY_TOKEN
  response:
    body:
      string: '{"status":"ok","data":{"aqi":59,"idx":5724,"attributions":[{"url":"http://uk-air.defra.gov.uk/","name":"UK-AIR,
        air quality information resource - Defra, UK","logo":"UK-Department-for-environment-food-and-rural-affairs.png"},{"url":"https://londonair.org.uk/","name":"London
        Air Quality Network - Environmental Research Group, King''s College London","logo":"UK-London-Kings-College.png"},{"url":"https://waqi.info/","name":"World
        Air Quality Index Project"}],"city":{"geo":[51.5073509,-0.1277583],"name":"London","url":"https://aqicn.org/city/london","location":""},"dominentpol":"pm25","iaqi":{"co":{"v":0.8},"h":{"v":75.1},"no2":{"v":15.1},"o3":{"v":18.4},"p":{"v":1020.7},"pm10":{"v":24},"pm25":{"v":59},"so2":{"v":0.9},"t":{"v":13.8},"w":{"v":1.4}},"time":{"s":"2022-05-03
        16:00:00","tz":"+01:00","v":1651593600,"iso":"2022-05-03T16:00:00+01:00"},"forecast":{"daily":{"o3":[{"avg":23,"day":"2022-05-01","max":34,"min":14},{"avg":23,"day":"2022-05-02","max":38,"min":4},{"avg":18,"day":"2022-05-03","max":31,"min":1},{"avg":21,"day":"2022-05-04","max":34,"min":15},{"avg":24,"day":"2022-05-05","max":36,"min":15},{"avg":17,"day":"2022-05-06","max":30,"min":11},{"avg":15,"day":"2022-05-07","max":18,"min":15}],"pm10":[{"avg":16,"day":"2022-05-01","max":21,"min":10},{"avg":20,"day":"2022-05-02","max":23,"min":13},{"avg":22,"day":"2022-05-03","max":29,"min":14},{"avg":15,"day":"2022-05-04","max":24,"min":7},{"avg":14,"day":"2022-05-05","max":17,"min":9},{"avg":11,"day":"2022-05-06","max":15,"min":6},{"avg":11,"day":"2022-05-07","max":11,"min":10}],"pm25":[{"avg":55,"day":"2022-05-01","max":64,"min":38},{"avg":61,"day":"2022-05-02","max":73,"min":51},{"avg":67,"day":"2022-05-03","max":82,"min":50},{"avg":47,"day":"2022-05-04","max":74,"min":23},{"avg":40,"day":"2022-05-05","max":57,"min":25},{"avg":36,"day":"2022-05-06","max":49,"min":19},{"avg":40,"day":"2022-05-07","max":40,"min":31}],"uvi":[{"avg":0,"day":"2022-05-01","max":2,"min":0},{"avg":1,"day":"2022-05-02","max":3,"min":0},{"avg":0,"day":"2022-05-03","max":3,"min":0},{"avg":1,"day":"2022-05-04","max":2,"min":0},{"avg":1,"day":"2022-05-05","max":4,"min":0},{"avg":1,"day":"2022-05-06","max":4,"min":0},{"avg":1,"day":"2022-05-07","max":4,"min":0},{"avg":0,"day":"2022-05-08","max":0,"min":0}]}},"debug":{"sync":"2022-05-04T01:38:20+09:00"}}}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Gen-Time:
      - "105.363\xC2\xB5s"
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.waqi.info/feed//new%20delhi/?token=DUMMY_TOKEN
  response:
    body:
      string: ''
    headers:
      Location:
      - /feed/new%20delhi/?token=DUMMY_TOKEN
    status:
      code: 301
      message: Moved Permanently
- request:
    body: null
    headers:
    method: GET
    uri: https://api.waqi.info/feed/new%20delhi/?token=DUMMY_TOKEN
  response:
    body:
      string: "{\"status\":\"ok\",\"data\":{\"aqi\":172,\"idx\":7024,\"attributions\":[{\"url\":\"http://worldweather.wmo.int\",\"name\":\"World
        Meteorological Organization - surface synoptic observations (WMO-SYNOP)\"},{\"url\":\"https://in.usembassy.gov/embassy-consulates/new-delhi/air-quality-data/\",\"name\":\"U.S.
        Embassy and Consulates' Air Quality Monitor in India\",\"logo\":\"US-StateDepartment.png\"},{\"url\":\"https://waqi.info/\",\"name\":\"World
        Air Quality Index Project\"}],\"city\":{\"geo\":[28.63576,77.22445],\"name\":\"New
        Delhi US Embassy, India (\u0928\u0908 \u0926\u093F\u0932\u094D\u0932\u0940
        \u0905\u092E\u0947\u0930\u093F\u0915\u0940 \u0926\u0942\u0924\u093E\u0935\u093E\u0938)\",\"url\":\"https://aqicn.org/city/india/new-delhi/us-embassy\",\"location\":\"\"},\"dominentpol\":\"pm25\",\"iaqi\":{\"dew\":{\"v\":19.5},\"h\":{\"v\":44.5},\"p\":{\"v\":1005},\"pm25\":{\"v\":172},\"t\":{\"v\":33},\"w\":{\"v\":2.3},\"wg\":{\"v\":9.2}},\"time\":{\"s\":\"2022-05-03
        22:00:00\",\"tz\":\"+05:30\",\"v\":1651615200,\"iso\":\"2022-05-03T22:00:00+05:30\"},\"forecast\":{\"daily\":{\"o3\":[{\"avg\":31,\"day\":\"2022-05-01\",\"max\":48,\"min\":15},{\"avg\":26,\"day\":\"2022-05-02\",\"max\":50,\"min\":12},{\"avg\":30,\"day\":\"2022-05-03\",\"max\":81,\"min\":9},{\"avg\":20,\"day\":\"2022-05-04\",\"max\":51,\"min\":7},{\"avg\":20,\"day\":\"2022-05-05\",\"max\":67,\"min\":2},{\"avg\":28,\"day\":\"2022-05-06\",\"max\":89[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.waqi.info/feed//paris/?token=DUMMY_TOKEN
  response:
    body:
      string: ''
    headers:
      Location:
      - /feed/paris/?token=DUMMY_TOKEN
    status:
      code: 301
      message: Moved Permanently
- request:
    body: null
    headers:
    method: GET
    uri: https://api.waqi.info/feed/paris/?token=DUMMY_TOKEN
  response:
    body:
      string: "{\"status\":\"ok\",\"data\":{\"aqi\":53,\"idx\":5722,\"attributions\":[{\"url\":\"https://www.airparif.asso.fr/\",\"name\":\"AirParif
        - Association de surveillance de la qualit\xE9 de l'air en \xCEle-de-France\",\"logo\":\"Paris-Air-Parif.png\"},{\"url\":\"http://www.eea.europa.eu/themes/air/\",\"name\":\"European
        Environment Age[...]
[...]
